/* Comienzo CSS Body */
@import url("https://fonts.googleapis.com/css2?family=Cinzel&family=Montserrat:wght@100&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url(../imagenes/background.png);
  background-size: cover;
}

.gridbody {
  font-family: "Montserrat", sans-serif;
}

.header {
  grid-area: header;
}

.main {
  grid-area: main;
}

.footer {
  grid-area: footer;
}

.gridbody {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 160px auto 200px;
  grid-template-areas: "header" "main" "footer";
  gap: 40px;
}

/* Fin CSS Body */
/* Comienzo CSS Header */
.navheader {
  grid-area: navheader;
  border-top: 3px solid;
  border-color: #764B36;
}

header {
  background-color: rgba(225, 206, 190, 0.5);
  width: 100%;
  border-bottom: 3px solid;
  border-color: #764B36;
  position: fixed;
  z-index: 1;
}

.logoheader {
  width: 150px;
  height: 150px;
  display: flex;
  justify-self: flex-start;
}

.logoheaderimg {
  width: 150px;
  height: 150px;
  cursor: pointer;
}

.tituloheader {
  font-size: 3rem;
  font-weight: bold;
  color: #764B36;
}

.navbar li {
  font-size: 1.4rem;
  font-weight: bold;
  padding: 10px;
  list-style: none;
}

.navbar li a {
  transition: all 0.3s ease 0s;
  text-decoration: none;
  color: #764B36;
}

.navbar li a:hover {
  color: white;
  transform: scale(1.1);
}

.navbar-nav {
  border-top: 3px;
  border-color: #764B36;
}

/* Fin CSS Header */
/* Comienzo CSS Main Index */
.titulomain {
  display: flex;
  flex-direction: column;
}
.titulomain h1 {
  width: 60%;
  align-self: center;
  color: #764B36;
  font-weight: bold;
  font-size: 4rem;
  margin: 3rem;
}
.titulomain p {
  margin-top: 20px;
  width: 80%;
  align-self: center;
  color: black;
  font-size: 2rem;
  margin: 3rem;
}

.hrmain {
  width: 50%;
  margin: 4rem auto;
  background-color: #764B36;
  height: 3px;
}

.redessocialesmain {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 20% 80%;
  grid-template-areas: "redessocialesimagen redessocialesh2" "redessocialesimagen redessocialesp";
  margin: 7rem;
}
.redessocialesmain img {
  grid-area: redessocialesimagen;
  display: flex;
  justify-self: center;
  align-self: center;
}
.redessocialesmain h2 {
  grid-area: redessocialesh2;
  display: flex;
  justify-self: start;
  align-self: center;
  font-size: 2.5rem;
  font-weight: 600;
  color: #764B36;
}
.redessocialesmain p {
  grid-area: redessocialesp;
  display: flex;
  justify-self: center;
  align-self: center;
  font-size: 1.5rem;
  font-weight: 550;
  color: black;
}

.publicidadmain {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 20% 80%;
  grid-template-areas: "publicidadh2 publicidadimagen" "publicidadp publicidadimagen";
  margin: 7rem;
}
.publicidadmain img {
  grid-area: publicidadimagen;
  display: flex;
  justify-self: center;
  align-self: center;
}
.publicidadmain h2 {
  grid-area: publicidadh2;
  display: flex;
  justify-self: end;
  align-self: center;
  font-size: 2.5rem;
  font-weight: 600;
  color: #764B36;
}
.publicidadmain p {
  grid-area: publicidadp;
  display: flex;
  justify-self: end;
  align-self: center;
  font-size: 1.5rem;
  font-weight: 550;
  color: black;
}

.fotografiamain {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 20% 80%;
  grid-template-areas: "fotografiaimagen fotografiah2" "fotografiaimagen fotografiap";
  margin: 7rem;
}
.fotografiamain img {
  grid-area: fotografiaimagen;
  display: flex;
  justify-self: center;
  align-self: center;
}
.fotografiamain h2 {
  grid-area: fotografiah2;
  display: flex;
  justify-self: start;
  align-self: center;
  font-size: 2.5rem;
  font-weight: 600;
  color: #764B36;
}
.fotografiamain p {
  grid-area: fotografiap;
  display: flex;
  justify-self: center;
  align-self: center;
  font-size: 1.5rem;
  font-weight: 550;
  color: black;
}

.logosmain {
  background-color: rgba(225, 206, 190, 0.5);
  margin-top: 200px;
  height: 400px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.newslettermain {
  margin: 16rem;
  display: flex;
  flex-direction: column;
}
.newslettermain h2 {
  font-size: 50px;
  font-weight: 600;
  color: #764B36;
  align-self: center;
  margin-bottom: 50px;
}
.newslettermain fieldset {
  border: none;
}
.newslettermain fieldset input {
  padding: 20px;
  border-radius: 5px;
  font-size: 20px;
  font-weight: 600;
}
.newslettermain fieldset .inputemail {
  width: 50%;
  margin-left: 19%;
}
.newslettermain fieldset .inputsubmit {
  width: 10%;
  cursor: pointer;
  background-color: rgba(225, 206, 190, 0.5);
}

/* Fin CSS Main Index */
/* Inicio CSS Main Quienes somos */
.tituloquienessomos {
  color: #764B36;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 50px;
}

.historia {
  color: #764B36;
  display: flex;
  flex-direction: column;
  margin-left: 7%;
  margin-right: 7%;
}

.historia p {
  color: black;
  font-weight: 500;
  margin-top: 20px;
}

.imagenperfil1 {
  grid-area: imagenperfil1;
}

.perfil1 h2 {
  grid-area: perfil1h2;
}

.perfil1 p {
  grid-area: perfil1p;
}

.perfil1 {
  margin-top: 100px;
  display: grid;
  grid-template-columns: 40% auto;
  grid-template-rows: 20% auto;
  grid-template-areas: "imagenperfil1 perfil1h2" "imagenperfil1 perfil1p";
  justify-content: space-between;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 50px;
}

.perfil1 h2 {
  font-size: 30px;
  color: #764B36;
}

.perfil1 p {
  font-size: 16px;
  align-self: center;
  font-weight: 550;
  color: black;
}

.imagenperfil1 {
  border-radius: 100%;
  display: flex;
  align-self: center;
}

.imagenperfil2 {
  grid-area: imagenperfil2;
}

.perfil2 h2 {
  grid-area: perfil2h2;
}

.perfil2 p {
  grid-area: perfil2p;
}

.perfil2 {
  margin-top: 100px;
  display: grid;
  grid-template-columns: auto 40%;
  grid-template-rows: 20% auto;
  grid-template-areas: "perfil2h2 imagenperfil2" "perfil2p imagenperfil2";
  justify-content: space-between;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 50px;
}

.perfil2 h2 {
  font-size: 30px;
  color: #764B36;
}

.perfil2 p {
  font-size: 16px;
  align-self: center;
  font-weight: 550;
  color: black;
}

.imagenperfil2 {
  border-radius: 100%;
  display: flex;
  align-self: center;
  justify-self: flex-end;
}

/* Fin CSS Main Quienes Somos */
/* Inicio CSS Main Nuestros servicios */
.titulonuestrosservicios {
  color: #764B36;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 50px;
}

.servicios {
  color: #764B36;
  display: flex;
  flex-direction: column;
  margin-left: 7%;
  margin-right: 7%;
}

.servicios ul {
  color: black;
  font-weight: 500;
  margin-top: 20px;
  margin-bottom: 40px;
}

.servicios ul li {
  margin-bottom: 10px;
}

/* Fin CSS Main Nuestros servicios */
/* Inicio CSS Main Nuestros planes */
.titulotuplan {
  color: #764B36;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 50px;
}

.planes {
  color: #764B36;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: 50px;
}

.numeroplanes {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.numeroplanes div {
  width: 300px;
  height: 500px;
  border: 2px solid black;
  background-color: white;
  text-align: center;
  font-weight: 600;
  font-size: 30px;
}

.armatuplan {
  color: #764B36;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 50px;
  margin-top: 100px;
  font-size: 35px;
}

.checkbox {
  font-size: 30px;
  font-weight: 600;
  color: #764B36;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  word-spacing: 50px;
}

.submitplan {
  border: none;
}

.fieldsetplan {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border: none;
  margin: 25px;
  margin-top: 50px;
}

.fieldsetplan input {
  margin-bottom: 20px;
  width: 30%;
  height: 30px;
  border-radius: 10px;
  font-size: 18px;
}

.submitplan textarea {
  font-size: 20px;
  height: 200px;
  width: 1000px;
  border-radius: 10px;
}

.inputsubmitplan {
  margin-top: 25px;
  display: flex;
  flex-direction: row;
  align-self: center;
  justify-content: center;
  background-color: rgba(225, 206, 190, 0.5);
  cursor: pointer;
}

/* Fin CSS Main Nuestros planes */
/* Inicio CSS Main Portfolio */
.mainportfolio {
  height: 1000px;
  font-size: 30px;
  font-weight: 600;
  margin-left: 20px;
}

/* Fin CSS Main Portfolio */
/* Inicio CSS Main Contacto */
.titulocontacto {
  color: #764B36;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 50px;
}

.listacontacto {
  font-size: 25px;
  font-weight: 600;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.listacontacto li {
  list-style: none;
  margin-bottom: 20px;
}

.listacontacto li a {
  transition: all 0.3s ease 0s;
  text-decoration: none;
  color: #764B36;
}

.listacontacto li a:hover {
  color: white;
}

.listacontacto img {
  height: 30px;
  width: 30px;
  margin-right: 20px;
}

div iframe {
  border-color: #764B36;
  border-radius: 5%;
}

/* Fin CSS Main Contacto */
/* Inicio CSS Footer */
.footer h4 {
  grid-area: h4footer;
  color: #764B36;
  font-size: 20px;
  font-weight: 600;
}

footer {
  background-color: rgba(225, 206, 190, 0.5);
  display: grid;
  grid-template-columns: 20% auto 20%;
  grid-template-rows: 35% 20% 35% 10%;
  grid-template-areas: "logofooter h3footer botonfooter" "logofooter navfooter botonfooter" "logofooter redesfooter botonfooter" "h4footer h4footer botonfooter";
  width: 100%;
  border-top: 3px solid;
  border-color: #764B36;
}
footer div .logofooter {
  align-self: flex-end;
}
footer .logofooter {
  grid-area: logofooter;
}
footer .logofooter .logofooterimg {
  width: 150px;
  height: 150px;
  cursor: pointer;
  display: flex;
  align-items: flex-end;
}
footer h3 {
  grid-area: h3footer;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #764B36;
  font-size: 30px;
  font-weight: 600;
}
footer .redesfooter {
  grid-area: redesfooter;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .redesfooter a img {
  display: inline-block;
  width: 40px;
  height: 40px;
  margin: 10px;
}
footer .botonirarriba {
  grid-area: botonfooter;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .botonirarriba img {
  width: 50px;
  height: 50px;
}
footer .navfooter {
  grid-area: navfooter;
  display: flex;
  justify-content: center;
}
footer .navfooter li {
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  padding: 10px;
}
footer .navfooter li a {
  transition: all 0.3s ease 0s;
  text-decoration: none;
  color: #764B36;
}
footer .navfooter li a:hover {
  color: white;
}

/* Fin CSS Footer */
@media screen and (max-width: 720px) {
  .gridbody {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 180px auto 200px;
    grid-template-areas: "header" "main" "footer";
    gap: 40px;
  }
  .inputsubmit {
    width: 20%;
    cursor: pointer;
    background-color: rgba(225, 206, 190, 0.5);
  }
  footer {
    background-color: rgba(225, 206, 190, 0.5);
    display: grid;
    grid-template-columns: 15% auto 10%;
    grid-template-rows: 25% 25% 35% 15%;
    grid-template-areas: "logofooter h3footer botonfooter" "logofooter navfooter botonfooter" "logofooter redesfooter botonfooter" "h4footer h4footer botonfooter";
    width: 100%;
    border-top: 3px solid;
    border-color: #764B36;
  }
  .botonirarriba img {
    width: 30px;
    height: 30px;
  }
}
@media screen and (max-width: 1400px) {
  .gridbody {
    grid-template-rows: 110px auto 200px;
  }
  /* HEADER */
  .logoheader {
    width: 110px;
    height: 110px;
  }
  .logoheaderimg {
    width: 110px;
    height: 110px;
  }
  .tituloheader {
    font-size: 2rem;
  }
  .navbar li {
    font-size: 1rem;
    padding: 0.3rem;
  }
  /* FIN HEADER */
  /* INDEX */
  .titulomain h1 {
    font-size: 2.3rem;
    margin: 1rem;
  }
  .titulomain p {
    font-size: 1.5rem;
    margin: 1rem;
  }
  .hrmain {
    margin: 2.5rem auto;
  }
  .redessocialesmain img {
    justify-self: start;
    width: 400px;
    height: 400px;
  }
  .redessocialesmain p {
    font-size: 1.4rem;
  }
  .redessocialesmain {
    margin-top: 7rem;
    margin-bottom: 7rem;
    margin-left: 4rem;
    margin-right: 4rem;
  }
  .publicidadmain img {
    justify-self: end;
    width: 400px;
    height: 400px;
  }
  .publicidadmain p {
    font-size: 1.4rem;
  }
  .publicidadmain {
    margin-top: 7rem;
    margin-bottom: 7rem;
    margin-left: 4rem;
    margin-right: 4rem;
  }
  .fotografiamain img {
    justify-self: start;
    width: 400px;
    height: 400px;
  }
  .fotografiamain p {
    font-size: 1.4rem;
  }
  .fotografiamain {
    margin-top: 7rem;
    margin-bottom: 7rem;
    margin-left: 4rem;
    margin-right: 4rem;
  }
  .logosmain {
    height: 250px;
  }
  .logosmain img {
    height: 200px;
    width: 200px;
  }
  .newslettermain {
    margin: 8rem;
  }
  .newslettermain h2 {
    font-size: 2.5rem;
  }
  .newslettermain fieldset input {
    padding: 15px;
  }
  .inputemail {
    width: 45%;
  }
  .inputsubmit {
    width: 15%;
  }
  /* FIN INDEX */
  /* FOOTER */
  .footer h3 {
    font-size: 1.8rem;
  }
  .footer h4 {
    font-size: 1.2rem;
  }
  footer {
    grid-template-columns: 15% auto 15%;
  }
  .logofooterimg {
    width: 120px;
    height: 120px;
  }
  .navfooter li {
    font-size: 1rem;
  }
  .navfooter li a:hover {
    color: white;
  }
  .redesfooter a img {
    width: 2rem;
    height: 2rem;
  }
  .botonirarriba img {
    width: 2rem;
    height: 2rem;
  }
  /* FIN FOOTER */
}
@media screen and (max-width: 1200px) {
  .gridbody {
    grid-template-rows: 130px auto 200px;
  }
  /* HEADER */
  .logoheader {
    width: 130px;
    height: 130px;
  }
  .logoheaderimg {
    width: 130px;
    height: 130px;
  }
  .tituloheader {
    font-size: 2.5rem;
  }
  .navbar li {
    font-size: 1rem;
    padding: 0.3rem;
  }
  /* FIN HEADER */
  /* INDEX */
  .redessocialesmain img {
    justify-self: center;
    align-self: center;
    height: 450px;
    width: 450px;
  }
  .redessocialesmain h2 {
    justify-self: center;
  }
  .redessocialesmain p {
    font-size: 1.5rem;
  }
  .redessocialesmain {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 55% 5% 40%;
    grid-template-areas: "redessocialesimagen" "redessocialesh2" "redessocialesp";
    gap: 1.5rem;
    margin: 7rem;
  }
  .publicidadmain img {
    justify-self: center;
    align-self: center;
    height: 450px;
    width: 450px;
  }
  .publicidadmain h2 {
    justify-self: center;
  }
  .publicidadmain p {
    justify-self: center;
    font-size: 1.5rem;
  }
  .publicidadmain {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 55% 5% 40%;
    grid-template-areas: "publicidadimagen" "publicidadh2" "publicidadp";
    gap: 1.5rem;
    margin: 7rem;
  }
  .fotografiamain img {
    justify-self: center;
    align-self: center;
    height: 450px;
    width: 450px;
  }
  .fotografiamain h2 {
    justify-self: center;
  }
  .fotografiamain p {
    justify-self: center;
    font-size: 1.5rem;
  }
  .fotografiamain {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 55% 5% 40%;
    grid-template-areas: "fotografiaimagen" "fotografiah2" "fotografiap";
    gap: 1.5rem;
    margin: 7rem;
  }
  .logosmain {
    margin-top: 10rem;
    height: 300px;
  }
  .newslettermain {
    margin: 10rem;
  }
  .newslettermain h2 {
    font-size: 2.1rem;
  }
  .newslettermain fieldset input {
    padding: 12px;
  }
  .inputemail {
    width: 50%;
    margin-left: 19%;
  }
  .inputsubmit {
    width: 20%;
  }
  /* FIN INDEX */
  /* FOOTER */
  .footer h3 {
    font-size: 1.8rem;
  }
  .footer h4 {
    font-size: 1.2rem;
  }
  footer {
    grid-template-columns: 10% auto 10%;
    grid-template-rows: 35% 25% 30% 10%;
  }
  .logofooterimg {
    width: 120px;
    height: 120px;
  }
  .redesfooter a img {
    width: 2rem;
    height: 2rem;
  }
  .botonirarriba img {
    width: 2rem;
    height: 2rem;
  }
  /* FIN FOOTER */
}
@media screen and (max-width: 991px) {
  .navbar li {
    font-size: 0.93rem;
  }
  .tituloheader {
    font-size: 2.5rem;
  }
}/*# sourceMappingURL=style.css.map */