/* Comienzo CSS Body */
@import url("https://fonts.googleapis.com/css2?family=Cinzel&family=Montserrat:wght@100&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url(../imagenes/background.png);
  background-size: cover;
}
body .gridbody {
  font-family: "Montserrat", sans-serif;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 160px auto 200px;
  grid-template-areas: "header" "main" "footer";
  gap: 40px;
}
body .gridbody .header {
  grid-area: header;
}
body .gridbody .main {
  grid-area: main;
}
body .gridbody .footer {
  grid-area: footer;
}

/* Fin CSS Body */
/* Comienzo CSS Header */
header {
  display: grid;
  grid-template-columns: 15% auto;
  grid-template-rows: 50% 50%;
  grid-template-areas: "logoheader tituloheader" "logoheader navheader";
  background-color: rgba(225, 206, 190, 0.5);
  width: 100%;
  border-bottom: 3px solid;
  border-color: #764B36;
  position: fixed;
  z-index: 1;
}
header .logoheader {
  grid-area: logoheader;
  width: 150px;
  height: 150px;
  display: flex;
  justify-self: flex-start;
}
header .logoheader .logoheaderimg {
  width: 150px;
  height: 150px;
  cursor: pointer;
}
header .tituloheader {
  grid-area: tituloheader;
  font-size: 3rem;
  font-weight: bold;
  display: flex;
  justify-content: end;
  align-items: center;
  padding-right: 1rem;
  color: #764B36;
}
header .navheader {
  grid-area: navheader;
  border-top: 3px solid;
  border-color: #764B36;
}
header .navheader .navbar-nav {
  border-top: 3px;
  border-color: #764B36;
}
header .navheader .navbar-nav li {
  font-size: 1.3rem;
  font-weight: bold;
  padding: 10px;
  list-style: none;
}
header .navheader .navbar-nav li a {
  transition: all 0.3s ease 0s;
  text-decoration: none;
  color: #764B36;
}
header .navheader .navbar-nav li a:hover {
  color: white;
  transform: scale(1.1);
}

/* Fin CSS Header */
/* Comienzo CSS Main Index */
.titulomain {
  display: flex;
  flex-direction: column;
}
.titulomain h1 {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  color: #764B36;
  font-weight: 1000;
  font-size: 3.5rem;
  margin: 2rem;
}
.titulomain p {
  display: flex;
  justify-self: center;
  width: 80%;
  align-self: center;
  color: black;
  font-size: 2rem;
  margin: 2rem;
  text-align: center;
}
.titulomain .frase {
  font-weight: 600;
  justify-content: center;
  font-size: 2.3rem;
  color: #764B36;
}

.hrmain {
  width: 50%;
  margin: 2.5rem auto;
  background-color: #764B36;
  height: 3px;
}

.redessocialesmain, .fotografiamain, .publicidadmain {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 20% 80%;
  grid-template-areas: "redessocialesimagen redessocialesh2" "redessocialesimagen redessocialesp";
  margin: 7rem;
}
.redessocialesmain img, .fotografiamain img, .publicidadmain img {
  grid-area: redessocialesimagen;
  display: flex;
  justify-self: center;
  align-self: center;
  width: 600px;
  height: 600px;
  transition: all 0.3s ease 0s;
}
.redessocialesmain img:hover, .fotografiamain img:hover, .publicidadmain img:hover {
  transform: scale(1.1);
}
.redessocialesmain h2, .fotografiamain h2, .publicidadmain h2 {
  grid-area: redessocialesh2;
  display: flex;
  justify-self: center;
  align-self: center;
  font-size: 3rem;
  font-weight: 600;
  color: #764B36;
}
.redessocialesmain p, .fotografiamain p, .publicidadmain p {
  grid-area: redessocialesp;
  display: flex;
  justify-self: center;
  align-self: center;
  font-size: 2rem;
  font-weight: 550;
  color: black;
  text-align: center;
}

.publicidadmain {
  grid-template-areas: "publicidadh2 publicidadimagen" "publicidadp publicidadimagen";
}
.publicidadmain img {
  grid-area: publicidadimagen;
}
.publicidadmain h2 {
  grid-area: publicidadh2;
}
.publicidadmain p {
  grid-area: publicidadp;
}

.fotografiamain {
  grid-template-areas: "fotografiaimagen fotografiah2" "fotografiaimagen fotografiap";
}
.fotografiamain img {
  grid-area: fotografiaimagen;
}
.fotografiamain h2 {
  grid-area: fotografiah2;
}
.fotografiamain p {
  grid-area: fotografiap;
}

.logosmain {
  background-color: rgba(225, 206, 190, 0.5);
  margin-top: 200px;
  height: 400px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.logosmain img {
  transition: all 0.3s ease 0s;
}
.logosmain img:hover {
  transform: scale(1.4);
}

.newslettermain {
  margin: 16rem;
  display: flex;
  flex-direction: column;
}
.newslettermain h2 {
  font-size: 50px;
  font-weight: 600;
  color: #764B36;
  align-self: center;
  margin-bottom: 50px;
}
.newslettermain fieldset {
  border: none;
}
.newslettermain fieldset input {
  padding: 20px;
  border-radius: 5px;
  font-size: 20px;
  font-weight: 600;
}
.newslettermain fieldset .inputemail {
  width: 40%;
  margin-left: 19%;
}
.newslettermain fieldset .inputsubmit {
  width: 15%;
  cursor: pointer;
  background-color: rgba(225, 206, 190, 0.5);
  transition: all 0.3s ease 0s;
}
.newslettermain fieldset .inputsubmit:hover {
  transform: scale(0.93);
}

/* Fin CSS Main Index */
/* Inicio CSS Main Quienes somos */
.tituloquienessomos h1 {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  color: #764B36;
  font-weight: 1000;
  font-size: 3.5rem;
  margin: 2rem;
  margin: 3rem;
}

.historia {
  color: #764B36;
  display: flex;
  flex-direction: column;
  margin-left: 7%;
  margin-right: 7%;
  margin-top: 4rem;
}
.historia h2 {
  color: #764B36;
  font-weight: bold;
  font-size: 3rem;
}
.historia p {
  color: black;
  font-weight: 500;
  margin: 2rem;
  font-size: 2rem;
}

.hrmain {
  width: 50%;
  margin: 4rem auto;
  background-color: #764B36;
  height: 3px;
}

.perfil1 {
  margin: 10rem;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 30% auto;
  grid-template-areas: "imagenperfil1 perfil1h2" "imagenperfil1 perfil1p";
  justify-items: center;
}
.perfil1 .imagenperfil1 {
  grid-area: imagenperfil1;
  border-radius: 100%;
  display: flex;
  align-self: center;
  width: 250px;
  height: 250px;
}
.perfil1 h2 {
  grid-area: perfil1h2;
  font-size: 3rem;
  color: #764B36;
  font-weight: bold;
}
.perfil1 p {
  grid-area: perfil1p;
  font-size: 2.2rem;
  align-self: center;
  font-weight: bold;
  color: black;
  margin: 2rem;
}

.perfil2 {
  margin: 10rem;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 30% auto;
  grid-template-areas: "perfil2h2 imagenperfil2" "perfil2p imagenperfil2";
  justify-items: center;
}
.perfil2 .imagenperfil2 {
  grid-area: imagenperfil2;
  border-radius: 100%;
  display: flex;
  align-self: center;
  width: 250px;
  height: 250px;
}
.perfil2 h2 {
  grid-area: perfil2h2;
  font-size: 3rem;
  color: #764B36;
  font-weight: bold;
}
.perfil2 p {
  grid-area: perfil2p;
  font-size: 2.2rem;
  align-self: center;
  font-weight: bold;
  color: black;
  margin: 2rem;
}

/* Fin CSS Main Quienes Somos */
/* Inicio CSS Main Nuestros servicios */
.titulonuestrosservicios {
  color: #764B36;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 50px;
}
.titulonuestrosservicios h1 {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  color: #764B36;
  font-weight: 1000;
  font-size: 3.5rem;
  margin: 2rem;
}

.servicios {
  display: flex;
  flex-direction: column;
  margin-left: 7%;
  margin-right: 7%;
}
.servicios h2 {
  font-size: 2.5rem;
  color: #764B36;
  font-weight: bold;
}
.servicios ul {
  color: black;
  font-size: 1.8rem;
  font-weight: 500;
  margin-top: 20px;
  margin-bottom: 40px;
}
.servicios ul li {
  margin-bottom: 10px;
}

/* Fin CSS Main Nuestros servicios */
/* Inicio CSS Main Nuestros planes */
.titulotuplan {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.titulotuplan h1 {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  color: #764B36;
  font-weight: 1000;
  font-size: 3.5rem;
  margin: 2rem;
}

.planes {
  display: flex;
  justify-content: space-around;
}
.planes .row .card {
  gap: 2rem;
  border: 0;
  margin: 2rem;
}
.planes .row .card img {
  width: 100%;
  height: 100%;
  transition: all 0.3s ease 0s;
}
.planes .row .card img:hover {
  transform: scale(1.05);
}
.planes .row .card .card-body h3 {
  font-size: 3rem;
  font-weight: 600;
  color: #764B36;
}

.armatuplan h2 {
  font-size: 3rem;
  font-weight: 600;
  color: #764B36;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 50px;
  margin-top: 100px;
}
.armatuplan .form-check {
  font-size: 30px;
  font-weight: 600;
  color: #764B36;
  margin: 1.5rem;
}
.armatuplan .form-check .form-check-label {
  cursor: pointer;
}

.submitplan {
  border: none;
  margin-top: 4rem;
}
.submitplan h3 {
  font-size: 2.5rem;
  font-weight: 600;
  color: #764B36;
  margin-left: 1.5rem;
  display: flex;
  justify-content: center;
}
.submitplan .fieldsetplan {
  display: flex;
  flex-direction: column;
  border: none;
  margin: 2rem;
}
.submitplan .fieldsetplan input {
  margin-bottom: 1.5rem;
  width: 30%;
  height: 2rem;
  border-radius: 0.5rem;
  font-size: 1.3rem;
  font-weight: bold;
}
.submitplan .fieldsetplan textarea {
  font-size: 1.6rem;
  height: 8rem;
  width: 70%;
  border-radius: 0.5rem;
  font-weight: bold;
}
.submitplan .fieldsetplan .inputsubmitplan {
  margin-top: 1.5rem;
  background-color: rgba(225, 206, 190, 0.5);
  cursor: pointer;
  font-weight: bold;
}

/* Fin CSS Main Nuestros planes */
/* Inicio CSS Main Portfolio */
main h1 {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  color: #764B36;
  font-weight: 1000;
  font-size: 3.5rem;
  margin: 2rem;
}
main .carousel h2 {
  font-size: 2.5rem;
  font-weight: 600;
  color: #764B36;
  display: flex;
  justify-content: center;
  margin-top: 0.2rem;
}
main .carousel .carousel-inner img {
  height: 25%;
  width: 25%;
  margin: 0 auto;
  margin-top: 0.2rem;
}
main .carousel .carousel-control-prev-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='black'%3e%3cpath d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/%3e%3c/svg%3e");
}
main .carousel .carousel-control-next-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='black'%3e%3cpath d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

/* Fin CSS Main Portfolio */
/* Inicio CSS Main Contacto */
.titulocontacto {
  color: #764B36;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 50px;
}
.titulocontacto h1 {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  color: #764B36;
  font-weight: 1000;
  font-size: 3.5rem;
  margin: 2rem;
}

.listacontacto {
  font-size: 25px;
  font-weight: 600;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.listacontacto img {
  height: 30px;
  width: 30px;
  margin-right: 20px;
}
.listacontacto li {
  list-style: none;
  margin-bottom: 20px;
}
.listacontacto li a {
  transition: all 0.3s ease 0s;
  text-decoration: none;
  color: #764B36;
}
.listacontacto li a:hover {
  color: white;
}

div iframe {
  border-color: #764B36;
  border-radius: 5%;
}

/* Fin CSS Main Contacto */
/* Inicio CSS Footer */
footer {
  background-color: rgba(225, 206, 190, 0.5);
  display: grid;
  grid-template-columns: 10% auto 10%;
  grid-template-rows: 35% 20% 35% 10%;
  grid-template-areas: "logofooter h3footer botonfooter" "logofooter navfooter botonfooter" "logofooter redesfooter botonfooter" "h4footer h4footer botonfooter";
  width: 100%;
  border-top: 3px solid;
  border-color: #764B36;
}
footer .logofooter {
  grid-area: logofooter;
  display: flex;
  align-items: flex-end;
}
footer .logofooter .logofooterimg {
  width: 150px;
  height: 150px;
  cursor: pointer;
  display: flex;
  align-items: flex-end;
}
footer h3 {
  grid-area: h3footer;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #764B36;
  font-size: 30px;
  font-weight: 600;
}
footer .redesfooter {
  grid-area: redesfooter;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .redesfooter a img {
  display: inline-block;
  width: 40px;
  height: 40px;
  margin: 10px;
}
footer .botonirarriba {
  grid-area: botonfooter;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .botonirarriba img {
  width: 40px;
  height: 40px;
  transition: all 0.3s ease 0s;
}
footer .botonirarriba img:hover {
  transform: scale(1.1);
}
footer .navfooter {
  grid-area: navfooter;
  display: flex;
  justify-content: center;
}
footer .navfooter li {
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  padding: 10px;
}
footer .navfooter li a {
  transition: all 0.3s ease 0s;
  text-decoration: none;
  color: #764B36;
}
footer .navfooter li a:hover {
  color: white;
}
footer h4 {
  grid-area: h4footer;
  color: #764B36;
  font-size: 20px;
  font-weight: 600;
}

/* Fin CSS Footer */
@media screen and (max-width: 1400px) {
  body .gridbody {
    grid-template-rows: 110px auto 150px;
    gap: 40px;
  }
  /* INICIO HEADER */
  header .logoheader {
    grid-area: logoheader;
    width: 110px;
    height: 110px;
  }
  header .logoheader .logoheaderimg {
    width: 110px;
    height: 110px;
    cursor: pointer;
  }
  header .tituloheader {
    font-size: 2rem;
    padding-right: 1rem;
  }
  header .navheader .navbar-nav li {
    font-size: 1rem;
    padding: 5px;
  }
  /* FIN HEADER */
  /* INDEX */
  .titulomain h1 {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    color: #764B36;
    font-weight: 1000;
    font-size: 3.5rem;
    margin: 2rem;
    font-size: 2.5rem;
    margin: 0.7rem;
  }
  .titulomain p {
    font-size: 1.5rem;
    margin: 0.7rem;
  }
  .titulomain .frase {
    font-size: 1.7rem;
  }
  .hrmain {
    margin: 2rem auto;
  }
  .redessocialesmain, .publicidadmain, .fotografiamain {
    margin: 7rem;
  }
  .redessocialesmain img, .publicidadmain img, .fotografiamain img {
    width: 400px;
    height: 400px;
  }
  .redessocialesmain h2, .publicidadmain h2, .fotografiamain h2 {
    font-size: 2rem;
    font-weight: 600;
  }
  .redessocialesmain p, .publicidadmain p, .fotografiamain p {
    font-size: 1.4rem;
    font-weight: 550;
  }
  .publicidadmain {
    margin: 7rem;
  }
  .publicidadmain img {
    width: 400px;
    height: 400px;
  }
  .publicidadmain h2 {
    font-size: 2rem;
    font-weight: 600;
  }
  .publicidadmain p {
    font-size: 1.4rem;
    font-weight: 550;
  }
  .fotografiamain {
    margin: 7rem;
  }
  .fotografiamain img {
    width: 400px;
    height: 400px;
  }
  .fotografiamain h2 {
    font-size: 2rem;
    font-weight: 600;
  }
  .fotografiamain p {
    font-size: 1.4rem;
    font-weight: 550;
  }
  .logosmain {
    margin-top: 5rem;
    height: 220px;
  }
  .logosmain img {
    height: 180px;
    width: 180px;
  }
  .newslettermain {
    margin: 10rem;
  }
  .newslettermain h2 {
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 2rem;
  }
  .newslettermain fieldset input {
    padding: 0.5rem;
    font-size: 1rem;
    justify-content: center;
  }
  .newslettermain fieldset .inputemail {
    width: 40%;
  }
  .newslettermain fieldset .inputsubmit {
    width: 15%;
  }
  /* FIN INDEX */
  /* INICIO QUIENES SOMOS */
  .perfil1 {
    margin: 8rem;
    grid-template-columns: 40% 60%;
  }
  .perfil1 .imagenperfil1 {
    justify-self: start;
  }
  .perfil2 {
    margin: 8rem;
    grid-template-columns: 60% 40%;
  }
  .perfil2 .imagenperfil1 {
    justify-self: end;
  }
  /* FIN QUIENES SOMOS */
  /* Inicio CSS Main Nuestros planes */
  .titulotuplan h1 {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    color: #764B36;
    font-weight: 1000;
    font-size: 3.5rem;
    margin: 2rem;
    margin: 1rem;
    font-size: 3rem;
  }
  .planes .row .card {
    margin: 1rem;
  }
  .planes .row .card .card-body h3 {
    font-size: 2.3rem;
  }
  .armatuplan h2 {
    font-size: 2.6rem;
    margin-bottom: 1.5rem;
    margin-top: 2rem;
  }
  .armatuplan .form-check {
    font-size: 1.7rem;
    font-weight: 600;
    margin: 1rem;
  }
  .submitplan {
    margin-top: 3rem;
  }
  .submitplan h3 {
    font-size: 2.3rem;
  }
  .submitplan .fieldsetplan {
    margin: 1.5rem;
  }
  .submitplan .fieldsetplan input {
    font-size: 1.2rem;
  }
  .submitplan .fieldsetplan textarea {
    font-size: 1.4rem;
    height: 7rem;
  }
  /* Fin CSS Main Nuestros planes */
  /* Inicio CSS Main Portfolio */
  main h1 {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    color: #764B36;
    font-weight: 1000;
    font-size: 3.5rem;
    margin: 2rem;
    font-size: 2.8rem;
  }
  main .carousel h2 {
    font-size: 2rem;
  }
  main .carousel .carousel-inner img {
    height: 25%;
    width: 25%;
    margin: 0 auto;
    margin-top: 0.2rem;
  }
  /* Fin CSS Main Portfolio */
  /* FOOTER */
  footer {
    display: grid;
    grid-template-columns: 10% auto 10%;
    grid-template-rows: 30% 20% 35% 15%;
  }
  footer .logofooter {
    display: flex;
    align-items: flex-end;
  }
  footer .logofooter .logofooterimg {
    width: 110px;
    height: 110px;
  }
  footer h3 {
    font-size: 1.4rem;
    padding: 0.1rem;
    margin: 0%;
  }
  footer .redesfooter a img {
    width: 30px;
    height: 30px;
    margin: 7px;
  }
  footer .botonirarriba img {
    width: 30px;
    height: 30px;
  }
  footer .navfooter li {
    font-size: 0.8rem;
    font-weight: bold;
    padding: 0.5rem;
    align-self: center;
  }
  footer h4 {
    font-size: 1rem;
    font-weight: 600;
  }
  /* FIN FOOTER */
}
@media screen and (max-width: 1200px) {
  body .gridbody {
    grid-template-rows: 100px auto 130px;
    gap: 35px;
  }
  /* HEADER */
  header .logoheader {
    width: 100px;
    height: 100px;
  }
  header .logoheader .logoheaderimg {
    width: 110px;
    height: 110px;
  }
  header .tituloheader {
    font-size: 1.8rem;
    padding-right: 1rem;
  }
  header .navheader .navbar-nav li {
    font-size: 0.9rem;
    padding: 5px;
  }
  /* FIN HEADER */
  /* INDEX */
  .titulomain h1 {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    color: #764B36;
    font-weight: 1000;
    font-size: 3.5rem;
    margin: 2rem;
    font-size: 2.3rem;
    margin: 0.5rem;
  }
  .titulomain p {
    font-size: 1.4rem;
    margin: 0.5rem;
  }
  .titulomain .frase {
    font-size: 1.5rem;
  }
  .hrmain {
    margin: 1.5rem auto;
  }
  .redessocialesmain, .publicidadmain, .fotografiamain {
    margin: 4rem;
  }
  .redessocialesmain img, .publicidadmain img, .fotografiamain img {
    width: 350px;
    height: 350px;
  }
  .redessocialesmain h2, .publicidadmain h2, .fotografiamain h2 {
    font-size: 1.7rem;
  }
  .redessocialesmain p, .publicidadmain p, .fotografiamain p {
    font-size: 1.25rem;
  }
  .publicidadmain {
    margin: 5rem;
  }
  .publicidadmain img {
    width: 350px;
    height: 350px;
  }
  .publicidadmain h2 {
    font-size: 1.7rem;
  }
  .publicidadmain p {
    font-size: 1.25rem;
  }
  .fotografiamain {
    margin: 4rem;
  }
  .fotografiamain img {
    width: 350px;
    height: 350px;
  }
  .fotografiamain h2 {
    font-size: 1.7rem;
  }
  .fotografiamain p {
    font-size: 1.25rem;
  }
  .logosmain {
    margin-top: 10rem;
    height: 200px;
  }
  .logosmain img {
    height: 150px;
    width: 150px;
  }
  .newslettermain {
    margin: 8rem;
  }
  .newslettermain h2 {
    font-size: 2rem;
    margin-bottom: 1.5rem;
  }
  .newslettermain fieldset input {
    padding: 0.4rem;
    font-size: 1rem;
  }
  .newslettermain fieldset .inputemail {
    width: 40%;
  }
  .newslettermain fieldset .inputsubmit {
    width: 15%;
  }
  /* FIN INDEX */
  /* INICIO QUIENES SOMOS */
  .perfil1 {
    margin: 6rem;
    grid-template-columns: 30% 70%;
  }
  .perfil1 .imagenperfil1 {
    justify-self: start;
    width: 200px;
    height: 200px;
  }
  .perfil2 {
    margin: 6rem;
    grid-template-columns: 70% 30%;
  }
  .perfil2 .imagenperfil2 {
    justify-self: start;
    width: 200px;
    height: 200px;
  }
  /* FIN QUIENES SOMOS */
  /* Inicio CSS Main Portfolio */
  main h1 {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    color: #764B36;
    font-weight: 1000;
    font-size: 3.5rem;
    margin: 2rem;
    font-size: 2.3rem;
  }
  main .carousel h2 {
    font-size: 1.8rem;
  }
  main .carousel .carousel-inner img {
    height: 25%;
    width: 25%;
    margin: 0 auto;
    margin-top: 0.2rem;
  }
  /* Fin CSS Main Portfolio */
  /* FOOTER */
  footer .logofooter .logofooterimg {
    width: 90px;
    height: 90px;
  }
  footer h3 {
    font-size: 1.3rem;
    padding: 0.1rem;
  }
  footer .redesfooter a img {
    width: 25px;
    height: 25px;
    margin: 6px;
  }
  footer .botonirarriba img {
    width: 25px;
    height: 25px;
  }
  footer .navfooter li {
    font-size: 0.8rem;
    padding: 0.5rem;
  }
  footer h4 {
    font-size: 0.9rem;
  }
  /* FIN FOOTER */
}
@media screen and (max-width: 991px) {
  body .gridbody {
    grid-template-rows: 100px auto 90px;
    gap: 20px;
  }
  /* HEADER */
  header {
    grid-template-columns: 10% auto 10%;
    grid-template-rows: 100%;
    grid-template-areas: "logoheader tituloheader navheader";
  }
  header .logoheader {
    width: 80px;
    height: 80px;
  }
  header .logoheader .logoheaderimg {
    width: 80px;
    height: 80px;
  }
  header .tituloheader {
    font-size: 2rem;
    justify-content: center;
  }
  header .navheader {
    border: 0;
    align-self: center;
  }
  header .navheader .navbar-nav li {
    font-size: 1rem;
  }
  /* FIN HEADER */
  /* INDEX */
  .titulomain h1 {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    color: #764B36;
    font-weight: 1000;
    font-size: 3.5rem;
    margin: 2rem;
    font-size: 2.5rem;
    margin: 1rem;
  }
  .titulomain p {
    font-size: 1.5rem;
    margin: 0.6rem;
  }
  .titulomain .frase {
    font-size: 1.7rem;
  }
  .hrmain {
    margin: 2rem auto;
  }
  .redessocialesmain, .publicidadmain, .fotografiamain {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 60% 10% 30%;
    grid-template-areas: "redessocialesimagen" "redessocialesh2" "redessocialesp";
    gap: 1.5rem;
    margin: 5rem;
  }
  .redessocialesmain img, .publicidadmain img, .fotografiamain img {
    width: 400px;
    height: 400px;
  }
  .redessocialesmain h2, .publicidadmain h2, .fotografiamain h2 {
    font-size: 2.3rem;
  }
  .redessocialesmain p, .publicidadmain p, .fotografiamain p {
    font-size: 1.3rem;
  }
  .publicidadmain {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 60% 10% 30%;
    grid-template-areas: "publicidadimagen" "publicidadh2" "publicidadp";
    gap: 1.5rem;
    margin: 5rem;
  }
  .publicidadmain img {
    width: 400px;
    height: 400px;
  }
  .publicidadmain h2 {
    font-size: 2.3rem;
  }
  .publicidadmain p {
    font-size: 1.3rem;
  }
  .fotografiamain {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 60% 10% 30%;
    grid-template-areas: "fotografiaimagen" "fotografiah2" "fotografiap";
    gap: 1.5rem;
    margin: 5rem;
  }
  .fotografiamain img {
    width: 400px;
    height: 400px;
  }
  .fotografiamain h2 {
    font-size: 2.3rem;
  }
  .fotografiamain p {
    font-size: 1.3rem;
  }
  .logosmain {
    margin-top: 7rem;
    height: 180px;
  }
  .logosmain img {
    height: 130px;
    width: 130px;
  }
  .newslettermain {
    margin: 5rem;
  }
  .newslettermain h2 {
    font-size: 1.5rem;
    margin-bottom: 1.3rem;
  }
  .newslettermain fieldset input {
    padding: 0.2rem;
    font-size: 1rem;
  }
  .newslettermain fieldset .inputemail {
    width: 40%;
  }
  .newslettermain fieldset .inputsubmit {
    width: 17%;
  }
  /* FIN INDEX */
  /* INICIO QUIENES SOMOS */
  .perfil1 {
    margin: 2rem;
    margin-top: 6rem;
    grid-template-rows: auto auto;
  }
  .perfil1 h2 {
    font-size: 2.5rem;
    align-self: center;
  }
  .perfil1 p {
    font-size: 2rem;
    align-self: center;
    margin: 0;
  }
  .perfil2 {
    margin: 2rem;
    margin-top: 6rem;
    grid-template-rows: auto auto;
  }
  .perfil2 h2 {
    font-size: 2.5rem;
    align-self: center;
  }
  .perfil2 p {
    font-size: 2rem;
    align-self: center;
    margin: 0;
  }
  /* FIN QUIENES SOMOS */
  /* Inicio CSS Main Nuestros planes */
  .titulotuplan h1 {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    color: #764B36;
    font-weight: 1000;
    font-size: 3.5rem;
    margin: 2rem;
    margin: 1rem;
    font-size: 3rem;
  }
  .planes {
    justify-content: center;
  }
  .planes .row .card {
    display: block;
    margin: 1rem;
  }
  .planes .row .card img {
    width: 70%;
    height: 70%;
    transition: all 0.3s ease 0s;
  }
  .planes .row .card img:hover {
    transform: scale(1.05);
  }
  .planes .row .card .card-body h3 {
    font-size: 2.3rem;
  }
  .armatuplan h2 {
    font-size: 2.2rem;
  }
  .armatuplan .form-check {
    font-size: 1.5rem;
    margin: 0.8rem;
  }
  .submitplan {
    margin-top: 3rem;
  }
  .submitplan h3 {
    font-size: 1.7rem;
  }
  .submitplan .fieldsetplan {
    margin: 1.5rem;
  }
  .submitplan .fieldsetplan input {
    width: 35%;
    font-size: 1rem;
  }
  .submitplan .fieldsetplan textarea {
    font-size: 1.2rem;
    height: 6rem;
    width: 100%;
  }
  /* Fin CSS Main Nuestros planes */
  /* Inicio CSS Main Portfolio */
  main h1 {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    color: #764B36;
    font-weight: 1000;
    font-size: 3.5rem;
    margin: 2rem;
    font-size: 1.8rem;
    margin: 0;
    margin-bottom: 1rem;
  }
  main .carousel h2 {
    font-size: 1.5rem;
  }
  main .carousel .carousel-inner img {
    height: 25%;
    width: 25%;
    margin: 0 auto;
    margin-top: 0.2rem;
  }
  /* Fin CSS Main Portfolio */
  /* Inicio CSS Main Contacto */
  .titulocontacto {
    margin: 0%;
    margin-bottom: 1rem;
  }
  .titulocontacto h1 {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    color: #764B36;
    font-weight: 1000;
    font-size: 3.5rem;
    margin: 2rem;
    font-size: 2.5rem;
  }
  .listacontacto {
    font-size: 1.1rem;
  }
  .listacontacto img {
    height: 1.8rem;
    width: 1.8rem;
    margin-right: 1rem;
  }
  .listacontacto li {
    margin-bottom: 1rem;
  }
  div iframe {
    width: 100%;
    height: 300px;
  }
  /* Fin CSS Main Contacto */
  /* FOOTER */
  footer {
    grid-template-rows: 40% 40% 20%;
    grid-template-areas: "logofooter h3footer botonfooter" "logofooter redesfooter botonfooter" "h4footer h4footer botonfooter";
  }
  footer .logofooter .logofooterimg {
    width: 70px;
    height: 70px;
  }
  footer h3 {
    font-size: 1.2rem;
    padding: 0.1rem;
  }
  footer .redesfooter a img {
    width: 25px;
    height: 25px;
    margin: 6px;
  }
  footer .botonirarriba img {
    width: 25px;
    height: 25px;
  }
  footer .navfooter {
    grid-area: navfooter;
    display: none;
  }
  footer h4 {
    font-size: 0.9rem;
  }
  /* FIN FOOTER */
}
@media screen and (max-width: 767px) {
  body .gridbody {
    grid-template-rows: 80px auto 90px;
    gap: 20px;
  }
  /* HEADER */
  header .logoheader {
    width: 70px;
    height: 70px;
  }
  header .logoheader .logoheaderimg {
    width: 70px;
    height: 70px;
  }
  header .tituloheader {
    font-size: 1.7rem;
  }
  /* FIN HEADER */
  /* INDEX */
  .titulomain h1 {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    color: #764B36;
    font-weight: 1000;
    font-size: 3.5rem;
    margin: 2rem;
    font-size: 2.1rem;
    margin: 0.7rem;
  }
  .titulomain p {
    font-size: 1.4rem;
    margin: 0.2rem;
  }
  .titulomain .frase {
    font-size: 1.4rem;
  }
  .hrmain {
    margin: 1.2rem auto;
  }
  .redessocialesmain, .publicidadmain, .fotografiamain {
    gap: 1.5rem;
    margin: 4rem;
  }
  .redessocialesmain img, .publicidadmain img, .fotografiamain img {
    width: 400px;
    height: 400px;
  }
  .redessocialesmain h2, .publicidadmain h2, .fotografiamain h2 {
    font-size: 2rem;
  }
  .redessocialesmain p, .publicidadmain p, .fotografiamain p {
    font-size: 1.2rem;
  }
  .publicidadmain {
    gap: 1.5rem;
    margin: 4rem;
  }
  .publicidadmain img {
    width: 400px;
    height: 400px;
  }
  .publicidadmain h2 {
    font-size: 2rem;
  }
  .publicidadmain p {
    font-size: 1.2rem;
  }
  .fotografiamain {
    gap: 1.5rem;
    margin: 4rem;
  }
  .fotografiamain img {
    width: 400px;
    height: 400px;
  }
  .fotografiamain h2 {
    font-size: 2rem;
  }
  .fotografiamain p {
    font-size: 1.2rem;
  }
  .logosmain {
    margin-top: 6rem;
    height: 160px;
  }
  .logosmain img {
    height: 120px;
    width: 120px;
  }
  .newslettermain {
    margin: 4rem;
  }
  .newslettermain h2 {
    font-size: 1.3rem;
    margin-bottom: 1.2rem;
  }
  .newslettermain fieldset input {
    padding: 0.2rem;
    font-size: 1rem;
  }
  .newslettermain fieldset .inputemail {
    width: 50%;
  }
  .newslettermain fieldset .inputsubmit {
    width: 25%;
  }
  /* FIN INDEX */
  /* INICIO QUIENES SOMOS */
  .perfil1 {
    margin: 1rem;
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto;
    grid-template-areas: "imagenperfil1" "perfil1h2" "perfil1p";
  }
  .perfil1 .imagenperfil1 {
    width: 200px;
    height: 200px;
    justify-self: center;
    margin: 3rem;
  }
  .perfil1 h2 {
    font-size: 2.8rem;
  }
  .perfil1 p {
    font-size: 2.1rem;
    margin: 1rem;
  }
  .perfil2 {
    margin: 1rem;
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto;
    grid-template-areas: "imagenperfil2" "perfil2h2" "perfil2p";
  }
  .perfil2 .imagenperfil2 {
    width: 200px;
    height: 200px;
    justify-self: center;
    margin: 3rem;
  }
  .perfil2 h2 {
    font-size: 2.8rem;
  }
  .perfil2 p {
    font-size: 2.1rem;
    margin: 1rem;
  }
  /* FIN QUIENES SOMOS */
  /* Inicio CSS Main Nuestros planes */
  .titulotuplan h1 {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    color: #764B36;
    font-weight: 1000;
    font-size: 3.5rem;
    margin: 2rem;
    margin: 1rem;
    font-size: 2.5rem;
  }
  .planes {
    justify-content: center;
  }
  .planes .row .card {
    display: block;
    margin: 1rem;
  }
  .planes .row .card img {
    width: 70%;
    height: 70%;
  }
  .planes .row .card .card-body h3 {
    font-size: 2rem;
  }
  .armatuplan h2 {
    font-size: 2rem;
  }
  .armatuplan .form-check {
    font-size: 1.4rem;
    margin: 0.5rem;
  }
  .submitplan {
    margin-top: 2rem;
  }
  .submitplan h3 {
    font-size: 1.4rem;
  }
  .submitplan .fieldsetplan {
    margin: 1.5rem;
  }
  .submitplan .fieldsetplan input {
    width: 40%;
    font-size: 1rem;
  }
  .submitplan .fieldsetplan textarea {
    font-size: 1.1rem;
    height: 6rem;
    width: 100%;
  }
  /* Fin CSS Main Nuestros planes */
  /* Inicio CSS Main Portfolio */
  main h1 {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    color: #764B36;
    font-weight: 1000;
    font-size: 3.5rem;
    margin: 2rem;
    font-size: 1.5rem;
    margin: 0;
    margin-bottom: 0.8rem;
  }
  main .carousel h2 {
    font-size: 1.2rem;
  }
  main .carousel .carousel-inner img {
    height: 25%;
    width: 25%;
    margin: 0 auto;
    margin-top: 0.2rem;
  }
  /* Fin CSS Main Portfolio */
  /* FOOTER */
  footer {
    grid-template-rows: 40% 40% 20%;
    grid-template-areas: "logofooter h3footer botonfooter" "logofooter redesfooter botonfooter" "h4footer h4footer botonfooter";
  }
  footer .logofooter .logofooterimg {
    width: 70px;
    height: 70px;
  }
  footer h3 {
    font-size: 1.2rem;
    padding: 0.1rem;
  }
  footer .redesfooter a img {
    width: 25px;
    height: 25px;
    margin: 6px;
  }
  footer .botonirarriba img {
    width: 25px;
    height: 25px;
  }
  footer .navfooter {
    grid-area: navfooter;
    display: none;
  }
  footer h4 {
    font-size: 0.9rem;
  }
  /* FIN FOOTER */
}
@media screen and (max-width: 575px) {
  body {
    width: 100% !important;
  }
  body .gridbody {
    grid-template-rows: 80px auto 90px;
    gap: 20px;
    width: 100% !important;
  }
  /* HEADER */
  header .logoheader {
    width: 60px;
    height: 60px;
  }
  header .logoheader .logoheaderimg {
    width: 60px;
    height: 60px;
  }
  header .tituloheader {
    font-size: 1rem;
  }
  /* FIN HEADER */
  /* INDEX */
  .titulomain {
    width: 100% !important;
  }
  .titulomain h1 {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    color: #764B36;
    font-weight: 1000;
    font-size: 3.5rem;
    margin: 2rem;
    font-size: 1.7rem;
    margin: 0.7rem;
  }
  .titulomain p {
    font-size: 1.2rem;
    margin: 0.2rem;
  }
  .titulomain .frase {
    font-size: 1.3rem;
  }
  .hrmain {
    margin: 1.2rem auto;
  }
  .redessocialesmain, .publicidadmain, .fotografiamain {
    gap: 1.5rem;
    margin: 5rem;
    grid-template-rows: 40% 10% 50%;
  }
  .redessocialesmain img, .publicidadmain img, .fotografiamain img {
    width: 250px;
    height: 250px;
  }
  .redessocialesmain h2, .publicidadmain h2, .fotografiamain h2 {
    font-size: 2rem;
  }
  .redessocialesmain p, .publicidadmain p, .fotografiamain p {
    font-size: 1.2rem;
  }
  .publicidadmain {
    gap: 1.5rem;
    margin: 5rem;
    grid-template-rows: 40% 10% 50%;
  }
  .publicidadmain img {
    width: 250px;
    height: 250px;
  }
  .publicidadmain h2 {
    font-size: 2rem;
  }
  .publicidadmain p {
    font-size: 1.2rem;
  }
  .fotografiamain {
    gap: 1.5rem;
    margin: 5rem;
    grid-template-rows: 40% 10% 50%;
  }
  .fotografiamain img {
    width: 250px;
    height: 250px;
  }
  .fotografiamain h2 {
    font-size: 2rem;
  }
  .fotografiamain p {
    font-size: 1.2rem;
  }
  .logosmain {
    margin-top: 6rem;
    height: 120px;
  }
  .logosmain img {
    height: 70px;
    width: 70px;
  }
  .newslettermain {
    margin: 2.5rem;
  }
  .newslettermain h2 {
    font-size: 1rem;
    margin-bottom: 1.2rem;
  }
  .newslettermain fieldset input {
    padding: 0.2rem;
    font-size: 0.85rem;
  }
  .newslettermain fieldset .inputemail {
    width: 50%;
  }
  .newslettermain fieldset .inputsubmit {
    width: 25%;
  }
  /* FIN INDEX */
  /* INICIO QUIENES SOMOS */
  .tituloquienessomos h1 {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    color: #764B36;
    font-weight: 1000;
    font-size: 3.5rem;
    margin: 2rem;
    margin: 0%;
    margin-top: 1rem;
    font-size: 2.3rem;
  }
  .historia {
    margin: 0%;
    margin-top: 2rem;
  }
  .historia h2 {
    color: #764B36;
    font-weight: bold;
    font-size: 2rem;
    margin-left: 1rem;
  }
  .historia p {
    color: black;
    font-weight: 500;
    margin: 1rem;
    font-size: 1.5rem;
  }
  .hrmain {
    width: 50%;
    margin: 3rem auto;
    background-color: #764B36;
    height: 3px;
  }
  .perfil1 {
    margin: 1rem;
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto;
    grid-template-areas: "imagenperfil1" "perfil1h2" "perfil1p";
  }
  .perfil1 .imagenperfil1 {
    width: 150px;
    height: 150px;
    justify-self: center;
    margin: 2rem;
  }
  .perfil1 h2 {
    font-size: 1.7rem;
  }
  .perfil1 p {
    font-size: 1.3rem;
    margin: 1rem;
  }
  .perfil2 {
    margin: 1rem;
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto;
    grid-template-areas: "imagenperfil2" "perfil2h2" "perfil2p";
  }
  .perfil2 .imagenperfil2 {
    width: 150px;
    height: 150px;
    justify-self: center;
    margin: 2rem;
  }
  .perfil2 h2 {
    font-size: 1.7rem;
  }
  .perfil2 p {
    font-size: 1.3rem;
    margin: 1rem;
  }
  /* FIN QUIENES SOMOS */
  /* Inicio CSS Main Nuestros servicios */
  .titulonuestrosservicios {
    margin-bottom: 0;
  }
  .titulonuestrosservicios h1 {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    color: #764B36;
    font-weight: 1000;
    font-size: 3.5rem;
    margin: 2rem;
    font-size: 2.1rem;
  }
  .servicios {
    margin-left: 5%;
    margin-right: 5%;
  }
  .servicios h2 {
    font-size: 1.5rem;
  }
  .servicios ul {
    font-size: 1.2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  .servicios ul li {
    margin-bottom: 0.8rem;
  }
  /* Fin CSS Main Nuestros servicios */
  /* Inicio CSS Main Nuestros planes */
  .titulotuplan h1 {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    color: #764B36;
    font-weight: 1000;
    font-size: 3.5rem;
    margin: 2rem;
    margin: 0.5rem;
    font-size: 2rem;
  }
  .planes {
    justify-content: center;
  }
  .planes .row .card {
    display: block;
    margin: 0.5rem;
  }
  .planes .row .card img {
    width: 70%;
    height: 70%;
  }
  .planes .row .card .card-body h3 {
    font-size: 1.5rem;
  }
  .armatuplan h2 {
    font-size: 1.5rem;
  }
  .armatuplan .form-check {
    font-size: 1rem;
    margin: 0.3rem;
  }
  .submitplan {
    margin-top: 1rem;
  }
  .submitplan h3 {
    font-size: 1.3rem;
    text-align: center;
  }
  .submitplan .fieldsetplan {
    margin: 1.5rem;
  }
  .submitplan .fieldsetplan input {
    width: 50%;
    font-size: 0.8rem;
    height: 1.5rem;
  }
  .submitplan .fieldsetplan textarea {
    font-size: 1rem;
    height: 5rem;
    width: 100%;
  }
  /* Fin CSS Main Nuestros planes */
  /* Inicio CSS Main Portfolio */
  main h1 {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    color: #764B36;
    font-weight: 1000;
    font-size: 3.5rem;
    margin: 2rem;
    font-size: 1.2rem;
    margin: 0;
    margin-bottom: 0.8rem;
  }
  main .carousel h2 {
    font-size: 1rem;
  }
  main .carousel .carousel-inner img {
    height: 25%;
    width: 25%;
    margin: 0 auto;
    margin-top: 0.2rem;
  }
  /* Fin CSS Main Portfolio */
  /* Inicio CSS Main Contacto */
  .titulocontacto {
    margin: 0%;
    margin-bottom: 0.5rem;
  }
  .titulocontacto h1 {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    color: #764B36;
    font-weight: 1000;
    font-size: 3.5rem;
    margin: 2rem;
    font-size: 2rem;
  }
  .listacontacto {
    font-size: 1rem;
  }
  .listacontacto img {
    height: 1.4rem;
    width: 1.4rem;
    margin-right: 0.5rem;
  }
  .listacontacto ul {
    padding: 0%;
  }
  .listacontacto ul li {
    margin-bottom: 0.8rem;
  }
  div iframe {
    width: 100%;
    height: 250px;
  }
  /* Fin CSS Main Contacto */
  /* FOOTER */
  footer {
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: 40% 40% 20%;
    grid-template-areas: "logofooter redesfooter botonfooter" "logofooter redesfooter botonfooter" "h4footer h4footer botonfooter";
  }
  footer .logofooter .logofooterimg {
    width: 50px;
    height: 50px;
  }
  footer h3 {
    display: none;
    font-size: 1.2rem;
    padding: 0.1rem;
  }
  footer .redesfooter a img {
    width: 25px;
    height: 25px;
    margin: 6px;
  }
  footer .botonirarriba img {
    width: 25px;
    height: 25px;
  }
  footer .navfooter {
    grid-area: navfooter;
    display: none;
  }
  footer h4 {
    font-size: 0.9rem;
  }
}/*# sourceMappingURL=style.css.map */