/* Comienzo CSS Body */
@import url("https://fonts.googleapis.com/css2?family=Cinzel&family=Montserrat:wght@100&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url(../imagenes/background.png);
  background-size: cover;
}
body .gridbody {
  font-family: "Montserrat", sans-serif;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 160px auto 200px;
  grid-template-areas: "header" "main" "footer";
  gap: 40px;
}
body .gridbody .header {
  grid-area: header;
}
body .gridbody .main {
  grid-area: main;
}
body .gridbody .footer {
  grid-area: footer;
}

/* Fin CSS Body */
/* Comienzo CSS Header */
header {
  display: grid;
  grid-template-columns: 15% auto;
  grid-template-rows: 50% 50%;
  grid-template-areas: "logoheader tituloheader" "logoheader navheader";
  background-color: rgba(225, 206, 190, 0.5);
  width: 100%;
  border-bottom: 3px solid;
  border-color: #764B36;
  position: fixed;
  z-index: 1;
}
header .logoheader {
  grid-area: logoheader;
  width: 150px;
  height: 150px;
  display: flex;
  justify-self: flex-start;
}
header .logoheader .logoheaderimg {
  width: 150px;
  height: 150px;
  cursor: pointer;
}
header .tituloheader {
  grid-area: tituloheader;
  font-size: 3rem;
  font-weight: bold;
  display: flex;
  justify-content: end;
  align-items: center;
  padding-right: 1rem;
  color: #764B36;
}
header .navheader {
  grid-area: navheader;
  border-top: 3px solid;
  border-color: #764B36;
}
header .navheader .navbar-nav {
  border-top: 3px;
  border-color: #764B36;
}
header .navheader .navbar-nav li {
  font-size: 1.35rem;
  font-weight: bold;
  padding: 10px;
  list-style: none;
}
header .navheader .navbar-nav li a {
  transition: all 0.3s ease 0s;
  text-decoration: none;
  color: #764B36;
}
header .navheader .navbar-nav li a:hover {
  color: white;
  transform: scale(1.1);
}

/* Fin CSS Header */
/* Comienzo CSS Main Index */
.titulomain {
  display: flex;
  flex-direction: column;
}
.titulomain h1 {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  color: #764B36;
  font-weight: 1000;
  font-size: 3.5rem;
  margin: 2rem;
}
.titulomain p {
  display: flex;
  justify-self: center;
  width: 80%;
  align-self: center;
  color: black;
  font-size: 2rem;
  margin: 2rem;
  text-align: center;
}
.titulomain .frase {
  font-weight: 600;
  justify-content: center;
  font-size: 2.3rem;
  color: #764B36;
}

.hrmain {
  width: 50%;
  margin: 2.5rem auto;
  background-color: #764B36;
  height: 3px;
}

.redessocialesmain, .fotografiamain, .publicidadmain {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 20% 80%;
  grid-template-areas: "redessocialesimagen redessocialesh2" "redessocialesimagen redessocialesp";
  margin: 7rem;
}
.redessocialesmain img, .fotografiamain img, .publicidadmain img {
  grid-area: redessocialesimagen;
  display: flex;
  justify-self: center;
  align-self: center;
  width: 600px;
  height: 600px;
  transition: all 0.3s ease 0s;
}
.redessocialesmain img:hover, .fotografiamain img:hover, .publicidadmain img:hover {
  transform: scale(1.1);
}
.redessocialesmain h2, .fotografiamain h2, .publicidadmain h2 {
  grid-area: redessocialesh2;
  display: flex;
  justify-self: center;
  align-self: center;
  font-size: 3rem;
  font-weight: 600;
  color: #764B36;
}
.redessocialesmain p, .fotografiamain p, .publicidadmain p {
  grid-area: redessocialesp;
  display: flex;
  justify-self: center;
  align-self: center;
  font-size: 2rem;
  font-weight: 550;
  color: black;
  text-align: center;
}

.publicidadmain {
  grid-template-areas: "publicidadh2 publicidadimagen" "publicidadp publicidadimagen";
}
.publicidadmain img {
  grid-area: publicidadimagen;
}
.publicidadmain h2 {
  grid-area: publicidadh2;
}
.publicidadmain p {
  grid-area: publicidadp;
}

.fotografiamain {
  grid-template-areas: "fotografiaimagen fotografiah2" "fotografiaimagen fotografiap";
}
.fotografiamain img {
  grid-area: fotografiaimagen;
}
.fotografiamain h2 {
  grid-area: fotografiah2;
}
.fotografiamain p {
  grid-area: fotografiap;
}

.logosmain {
  background-color: rgba(225, 206, 190, 0.5);
  margin-top: 200px;
  height: 400px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.logosmain img {
  transition: all 0.3s ease 0s;
}
.logosmain img:hover {
  transform: scale(1.4);
}

.newslettermain {
  margin: 16rem;
  display: flex;
  flex-direction: column;
}
.newslettermain h2 {
  font-size: 50px;
  font-weight: 600;
  color: #764B36;
  align-self: center;
  margin-bottom: 50px;
}
.newslettermain fieldset {
  border: none;
}
.newslettermain fieldset input {
  padding: 20px;
  border-radius: 5px;
  font-size: 20px;
  font-weight: 600;
}
.newslettermain fieldset .inputemail {
  width: 40%;
  margin-left: 19%;
}
.newslettermain fieldset .inputsubmit {
  width: 15%;
  cursor: pointer;
  background-color: rgba(225, 206, 190, 0.5);
  transition: all 0.3s ease 0s;
}
.newslettermain fieldset .inputsubmit:hover {
  transform: scale(0.93);
}

/* Fin CSS Main Index */
/* Inicio CSS Main Quienes somos */
.tituloquienessomos h1 {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  color: #764B36;
  font-weight: 1000;
  font-size: 3.5rem;
  margin: 2rem;
}

.historia {
  color: #764B36;
  display: flex;
  flex-direction: column;
  margin-left: 7%;
  margin-right: 7%;
}

.historia p {
  color: black;
  font-weight: 500;
  margin-top: 20px;
}

.imagenperfil1 {
  grid-area: imagenperfil1;
}

.perfil1 h2 {
  grid-area: perfil1h2;
}

.perfil1 p {
  grid-area: perfil1p;
}

.perfil1 {
  margin-top: 100px;
  display: grid;
  grid-template-columns: 40% auto;
  grid-template-rows: 20% auto;
  grid-template-areas: "imagenperfil1 perfil1h2" "imagenperfil1 perfil1p";
  justify-content: space-between;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 50px;
}

.perfil1 h2 {
  font-size: 30px;
  color: #764B36;
}

.perfil1 p {
  font-size: 16px;
  align-self: center;
  font-weight: 550;
  color: black;
}

.imagenperfil1 {
  border-radius: 100%;
  display: flex;
  align-self: center;
}

.imagenperfil2 {
  grid-area: imagenperfil2;
}

.perfil2 h2 {
  grid-area: perfil2h2;
}

.perfil2 p {
  grid-area: perfil2p;
}

.perfil2 {
  margin-top: 100px;
  display: grid;
  grid-template-columns: auto 40%;
  grid-template-rows: 20% auto;
  grid-template-areas: "perfil2h2 imagenperfil2" "perfil2p imagenperfil2";
  justify-content: space-between;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 50px;
}

.perfil2 h2 {
  font-size: 30px;
  color: #764B36;
}

.perfil2 p {
  font-size: 16px;
  align-self: center;
  font-weight: 550;
  color: black;
}

.imagenperfil2 {
  border-radius: 100%;
  display: flex;
  align-self: center;
  justify-self: flex-end;
}

/* Fin CSS Main Quienes Somos */
/* Inicio CSS Main Nuestros servicios */
.titulonuestrosservicios {
  color: #764B36;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 50px;
}
.titulonuestrosservicios h1 {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  color: #764B36;
  font-weight: 1000;
  font-size: 3.5rem;
  margin: 2rem;
}

.servicios {
  color: #764B36;
  display: flex;
  flex-direction: column;
  margin-left: 7%;
  margin-right: 7%;
}

.servicios ul {
  color: black;
  font-weight: 500;
  margin-top: 20px;
  margin-bottom: 40px;
}

.servicios ul li {
  margin-bottom: 10px;
}

/* Fin CSS Main Nuestros servicios */
/* Inicio CSS Main Nuestros planes */
.titulotuplan {
  color: #764B36;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 50px;
}
.titulotuplan h1 {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  color: #764B36;
  font-weight: 1000;
  font-size: 3.5rem;
  margin: 2rem;
}

.planes {
  color: #764B36;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: 50px;
}

.numeroplanes {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.numeroplanes div {
  width: 300px;
  height: 500px;
  border: 2px solid black;
  background-color: white;
  text-align: center;
  font-weight: 600;
  font-size: 30px;
}

.armatuplan {
  color: #764B36;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 50px;
  margin-top: 100px;
  font-size: 35px;
}

.checkbox {
  font-size: 30px;
  font-weight: 600;
  color: #764B36;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  word-spacing: 50px;
}

.submitplan {
  border: none;
}

.fieldsetplan {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border: none;
  margin: 25px;
  margin-top: 50px;
}

.fieldsetplan input {
  margin-bottom: 20px;
  width: 30%;
  height: 30px;
  border-radius: 10px;
  font-size: 18px;
}

.submitplan textarea {
  font-size: 20px;
  height: 200px;
  width: 1000px;
  border-radius: 10px;
}

.inputsubmitplan {
  margin-top: 25px;
  display: flex;
  flex-direction: row;
  align-self: center;
  justify-content: center;
  background-color: rgba(225, 206, 190, 0.5);
  cursor: pointer;
}

/* Fin CSS Main Nuestros planes */
/* Inicio CSS Main Portfolio */
.mainportfolio {
  height: 1000px;
  font-size: 30px;
  font-weight: 600;
  margin-left: 20px;
}

/* Fin CSS Main Portfolio */
/* Inicio CSS Main Contacto */
.titulocontacto {
  color: #764B36;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 50px;
}
.titulocontacto h1 {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  color: #764B36;
  font-weight: 1000;
  font-size: 3.5rem;
  margin: 2rem;
}

.listacontacto {
  font-size: 25px;
  font-weight: 600;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.listacontacto li {
  list-style: none;
  margin-bottom: 20px;
}

.listacontacto li a {
  transition: all 0.3s ease 0s;
  text-decoration: none;
  color: #764B36;
}

.listacontacto li a:hover {
  color: white;
}

.listacontacto img {
  height: 30px;
  width: 30px;
  margin-right: 20px;
}

div iframe {
  border-color: #764B36;
  border-radius: 5%;
}

/* Fin CSS Main Contacto */
/* Inicio CSS Footer */
footer {
  background-color: rgba(225, 206, 190, 0.5);
  display: grid;
  grid-template-columns: 10% auto 10%;
  grid-template-rows: 35% 20% 35% 10%;
  grid-template-areas: "logofooter h3footer botonfooter" "logofooter navfooter botonfooter" "logofooter redesfooter botonfooter" "h4footer h4footer botonfooter";
  width: 100%;
  border-top: 3px solid;
  border-color: #764B36;
}
footer .logofooter {
  grid-area: logofooter;
  display: flex;
  align-items: flex-end;
}
footer .logofooter .logofooterimg {
  width: 150px;
  height: 150px;
  cursor: pointer;
  display: flex;
  align-items: flex-end;
}
footer h3 {
  grid-area: h3footer;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #764B36;
  font-size: 30px;
  font-weight: 600;
}
footer .redesfooter {
  grid-area: redesfooter;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .redesfooter a img {
  display: inline-block;
  width: 40px;
  height: 40px;
  margin: 10px;
}
footer .botonirarriba {
  grid-area: botonfooter;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .botonirarriba img {
  width: 40px;
  height: 40px;
  transition: all 0.3s ease 0s;
}
footer .botonirarriba img:hover {
  transform: scale(1.1);
}
footer .navfooter {
  grid-area: navfooter;
  display: flex;
  justify-content: center;
}
footer .navfooter li {
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  padding: 10px;
}
footer .navfooter li a {
  transition: all 0.3s ease 0s;
  text-decoration: none;
  color: #764B36;
}
footer .navfooter li a:hover {
  color: white;
}
footer h4 {
  grid-area: h4footer;
  color: #764B36;
  font-size: 20px;
  font-weight: 600;
}

/* Fin CSS Footer */
@media screen and (max-width: 1400px) {
  body .gridbody {
    grid-template-rows: 110px auto 150px;
    gap: 40px;
  }
  /* HEADER */
  header .logoheader {
    grid-area: logoheader;
    width: 110px;
    height: 110px;
  }
  header .logoheader .logoheaderimg {
    width: 110px;
    height: 110px;
    cursor: pointer;
  }
  header .tituloheader {
    font-size: 2rem;
    padding-right: 1rem;
  }
  header .navheader .navbar-nav li {
    font-size: 1rem;
    padding: 5px;
  }
  /* FIN HEADER */
  /* INDEX */
  .titulomain h1 {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    color: #764B36;
    font-weight: 1000;
    font-size: 3.5rem;
    margin: 2rem;
    font-size: 2.5rem;
    margin: 0.7rem;
  }
  .titulomain p {
    font-size: 1.5rem;
    margin: 0.7rem;
  }
  .titulomain .frase {
    font-size: 1.7rem;
  }
  .hrmain {
    margin: 2rem auto;
  }
  .redessocialesmain, .publicidadmain, .fotografiamain {
    margin: 7rem;
  }
  .redessocialesmain img, .publicidadmain img, .fotografiamain img {
    width: 400px;
    height: 400px;
  }
  .redessocialesmain h2, .publicidadmain h2, .fotografiamain h2 {
    font-size: 2rem;
    font-weight: 600;
  }
  .redessocialesmain p, .publicidadmain p, .fotografiamain p {
    font-size: 1.4rem;
    font-weight: 550;
  }
  .publicidadmain {
    margin: 7rem;
  }
  .publicidadmain img {
    width: 400px;
    height: 400px;
  }
  .publicidadmain h2 {
    font-size: 2rem;
    font-weight: 600;
  }
  .publicidadmain p {
    font-size: 1.4rem;
    font-weight: 550;
  }
  .fotografiamain {
    margin: 7rem;
  }
  .fotografiamain img {
    width: 400px;
    height: 400px;
  }
  .fotografiamain h2 {
    font-size: 2rem;
    font-weight: 600;
  }
  .fotografiamain p {
    font-size: 1.4rem;
    font-weight: 550;
  }
  .logosmain {
    margin-top: 5rem;
    height: 220px;
  }
  .logosmain img {
    height: 180px;
    width: 180px;
  }
  .newslettermain {
    margin: 10rem;
  }
  .newslettermain h2 {
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 2rem;
  }
  .newslettermain fieldset input {
    padding: 0.5rem;
    font-size: 1rem;
    justify-content: center;
  }
  .newslettermain fieldset .inputemail {
    width: 40%;
  }
  .newslettermain fieldset .inputsubmit {
    width: 15%;
  }
  /* FIN INDEX */
  /* FOOTER */
  footer {
    display: grid;
    grid-template-columns: 10% auto 10%;
    grid-template-rows: 30% 20% 35% 15%;
  }
  footer .logofooter {
    display: flex;
    align-items: flex-end;
  }
  footer .logofooter .logofooterimg {
    width: 110px;
    height: 110px;
  }
  footer h3 {
    font-size: 1.4rem;
    padding: 0.1rem;
    margin: 0%;
  }
  footer .redesfooter a img {
    width: 30px;
    height: 30px;
    margin: 7px;
  }
  footer .botonirarriba img {
    width: 30px;
    height: 30px;
  }
  footer .navfooter li {
    font-size: 0.8rem;
    font-weight: bold;
    padding: 0.5rem;
    align-self: center;
  }
  footer h4 {
    font-size: 1rem;
    font-weight: 600;
  }
  /* FIN FOOTER */
}
@media screen and (max-width: 1200px) {
  body .gridbody {
    grid-template-rows: 100px auto 130px;
    gap: 35px;
  }
  /* HEADER */
  header .logoheader {
    width: 100px;
    height: 100px;
  }
  header .logoheader .logoheaderimg {
    width: 110px;
    height: 110px;
  }
  header .tituloheader {
    font-size: 1.8rem;
    padding-right: 1rem;
  }
  header .navheader .navbar-nav li {
    font-size: 0.9rem;
    padding: 5px;
  }
  /* FIN HEADER */
  /* INDEX */
  .titulomain h1 {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    color: #764B36;
    font-weight: 1000;
    font-size: 3.5rem;
    margin: 2rem;
    font-size: 2.3rem;
    margin: 0.5rem;
  }
  .titulomain p {
    font-size: 1.4rem;
    margin: 0.5rem;
  }
  .titulomain .frase {
    font-size: 1.5rem;
  }
  .hrmain {
    margin: 1.5rem auto;
  }
  .redessocialesmain, .publicidadmain, .fotografiamain {
    margin: 4rem;
  }
  .redessocialesmain img, .publicidadmain img, .fotografiamain img {
    width: 350px;
    height: 350px;
  }
  .redessocialesmain h2, .publicidadmain h2, .fotografiamain h2 {
    font-size: 1.7rem;
  }
  .redessocialesmain p, .publicidadmain p, .fotografiamain p {
    font-size: 1.25rem;
  }
  .publicidadmain {
    margin: 5rem;
  }
  .publicidadmain img {
    width: 350px;
    height: 350px;
  }
  .publicidadmain h2 {
    font-size: 1.7rem;
  }
  .publicidadmain p {
    font-size: 1.25rem;
  }
  .fotografiamain {
    margin: 4rem;
  }
  .fotografiamain img {
    width: 350px;
    height: 350px;
  }
  .fotografiamain h2 {
    font-size: 1.7rem;
  }
  .fotografiamain p {
    font-size: 1.25rem;
  }
  .logosmain {
    margin-top: 10rem;
    height: 200px;
  }
  .logosmain img {
    height: 150px;
    width: 150px;
  }
  .newslettermain {
    margin: 8rem;
  }
  .newslettermain h2 {
    font-size: 2rem;
    margin-bottom: 1.5rem;
  }
  .newslettermain fieldset input {
    padding: 0.4rem;
    font-size: 1rem;
  }
  .newslettermain fieldset .inputemail {
    width: 40%;
  }
  .newslettermain fieldset .inputsubmit {
    width: 15%;
  }
  /* FIN INDEX */
  /* FOOTER */
  footer .logofooter .logofooterimg {
    width: 90px;
    height: 90px;
  }
  footer h3 {
    font-size: 1.3rem;
    padding: 0.1rem;
  }
  footer .redesfooter a img {
    width: 25px;
    height: 25px;
    margin: 6px;
  }
  footer .botonirarriba img {
    width: 25px;
    height: 25px;
  }
  footer .navfooter li {
    font-size: 0.8rem;
    padding: 0.5rem;
  }
  footer h4 {
    font-size: 0.9rem;
  }
  /* FIN FOOTER */
}
@media screen and (max-width: 991px) {
  body .gridbody {
    grid-template-rows: 100px auto 90px;
    gap: 20px;
  }
  /* HEADER */
  header {
    grid-template-columns: 10% auto 10%;
    grid-template-rows: 100%;
    grid-template-areas: "logoheader tituloheader navheader";
  }
  header .logoheader {
    width: 80px;
    height: 80px;
  }
  header .logoheader .logoheaderimg {
    width: 80px;
    height: 80px;
  }
  header .tituloheader {
    font-size: 2rem;
    justify-content: center;
  }
  header .navheader {
    border: 0;
    align-self: center;
  }
  header .navheader .navbar-nav li {
    font-size: 1rem;
  }
  /* FIN HEADER */
  /* INDEX */
  .titulomain h1 {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    color: #764B36;
    font-weight: 1000;
    font-size: 3.5rem;
    margin: 2rem;
    font-size: 2.5rem;
    margin: 1rem;
  }
  .titulomain p {
    font-size: 1.5rem;
    margin: 0.6rem;
  }
  .titulomain .frase {
    font-size: 1.7rem;
  }
  .hrmain {
    margin: 2rem auto;
  }
  .redessocialesmain, .publicidadmain, .fotografiamain {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 60% 10% 30%;
    grid-template-areas: "redessocialesimagen" "redessocialesh2" "redessocialesp";
    gap: 1.5rem;
    margin: 5rem;
  }
  .redessocialesmain img, .publicidadmain img, .fotografiamain img {
    width: 400px;
    height: 400px;
  }
  .redessocialesmain h2, .publicidadmain h2, .fotografiamain h2 {
    font-size: 2.3rem;
  }
  .redessocialesmain p, .publicidadmain p, .fotografiamain p {
    font-size: 1.3rem;
  }
  .publicidadmain {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 60% 10% 30%;
    grid-template-areas: "publicidadimagen" "publicidadh2" "publicidadp";
    gap: 1.5rem;
    margin: 5rem;
  }
  .publicidadmain img {
    width: 400px;
    height: 400px;
  }
  .publicidadmain h2 {
    font-size: 2.3rem;
  }
  .publicidadmain p {
    font-size: 1.3rem;
  }
  .fotografiamain {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 60% 10% 30%;
    grid-template-areas: "fotografiaimagen" "fotografiah2" "fotografiap";
    gap: 1.5rem;
    margin: 5rem;
  }
  .fotografiamain img {
    width: 400px;
    height: 400px;
  }
  .fotografiamain h2 {
    font-size: 2.3rem;
  }
  .fotografiamain p {
    font-size: 1.3rem;
  }
  .logosmain {
    margin-top: 7rem;
    height: 180px;
  }
  .logosmain img {
    height: 130px;
    width: 130px;
  }
  .newslettermain {
    margin: 5rem;
  }
  .newslettermain h2 {
    font-size: 1.5rem;
    margin-bottom: 1.3rem;
  }
  .newslettermain fieldset input {
    padding: 0.2rem;
    font-size: 1rem;
  }
  .newslettermain fieldset .inputemail {
    width: 40%;
  }
  .newslettermain fieldset .inputsubmit {
    width: 17%;
  }
  /* FIN INDEX */
  /* FOOTER */
  footer {
    grid-template-rows: 40% 40% 20%;
    grid-template-areas: "logofooter h3footer botonfooter" "logofooter redesfooter botonfooter" "h4footer h4footer botonfooter";
  }
  footer .logofooter .logofooterimg {
    width: 70px;
    height: 70px;
  }
  footer h3 {
    font-size: 1.2rem;
    padding: 0.1rem;
  }
  footer .redesfooter a img {
    width: 25px;
    height: 25px;
    margin: 6px;
  }
  footer .botonirarriba img {
    width: 25px;
    height: 25px;
  }
  footer .navfooter {
    grid-area: navfooter;
    display: none;
  }
  footer h4 {
    font-size: 0.9rem;
  }
  /* FIN FOOTER */
}
@media screen and (max-width: 767px) {
  body .gridbody {
    grid-template-rows: 80px auto 90px;
    gap: 20px;
  }
  /* HEADER */
  header .logoheader {
    width: 70px;
    height: 70px;
  }
  header .logoheader .logoheaderimg {
    width: 70px;
    height: 70px;
  }
  header .tituloheader {
    font-size: 1.7rem;
  }
  /* FIN HEADER */
  /* INDEX */
  .titulomain h1 {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    color: #764B36;
    font-weight: 1000;
    font-size: 3.5rem;
    margin: 2rem;
    font-size: 2.1rem;
    margin: 0.7rem;
  }
  .titulomain p {
    font-size: 1.4rem;
    margin: 0.2rem;
  }
  .titulomain .frase {
    font-size: 1.4rem;
  }
  .hrmain {
    margin: 1.2rem auto;
  }
  .redessocialesmain, .publicidadmain, .fotografiamain {
    gap: 1.5rem;
    margin: 4rem;
  }
  .redessocialesmain img, .publicidadmain img, .fotografiamain img {
    width: 400px;
    height: 400px;
  }
  .redessocialesmain h2, .publicidadmain h2, .fotografiamain h2 {
    font-size: 2rem;
  }
  .redessocialesmain p, .publicidadmain p, .fotografiamain p {
    font-size: 1.2rem;
  }
  .publicidadmain {
    gap: 1.5rem;
    margin: 4rem;
  }
  .publicidadmain img {
    width: 400px;
    height: 400px;
  }
  .publicidadmain h2 {
    font-size: 2rem;
  }
  .publicidadmain p {
    font-size: 1.2rem;
  }
  .fotografiamain {
    gap: 1.5rem;
    margin: 4rem;
  }
  .fotografiamain img {
    width: 400px;
    height: 400px;
  }
  .fotografiamain h2 {
    font-size: 2rem;
  }
  .fotografiamain p {
    font-size: 1.2rem;
  }
  .logosmain {
    margin-top: 6rem;
    height: 160px;
  }
  .logosmain img {
    height: 120px;
    width: 120px;
  }
  .newslettermain {
    margin: 4rem;
  }
  .newslettermain h2 {
    font-size: 1.3rem;
    margin-bottom: 1.2rem;
  }
  .newslettermain fieldset input {
    padding: 0.2rem;
    font-size: 1rem;
  }
  .newslettermain fieldset .inputemail {
    width: 50%;
  }
  .newslettermain fieldset .inputsubmit {
    width: 25%;
  }
  /* FIN INDEX */
  /* FOOTER */
  footer {
    grid-template-rows: 40% 40% 20%;
    grid-template-areas: "logofooter h3footer botonfooter" "logofooter redesfooter botonfooter" "h4footer h4footer botonfooter";
  }
  footer .logofooter .logofooterimg {
    width: 70px;
    height: 70px;
  }
  footer h3 {
    font-size: 1.2rem;
    padding: 0.1rem;
  }
  footer .redesfooter a img {
    width: 25px;
    height: 25px;
    margin: 6px;
  }
  footer .botonirarriba img {
    width: 25px;
    height: 25px;
  }
  footer .navfooter {
    grid-area: navfooter;
    display: none;
  }
  footer h4 {
    font-size: 0.9rem;
  }
}/*# sourceMappingURL=style.css.map */