@media screen and (max-width: 1400px){

    body{
        .gridbody {
            grid-template-rows: 110px auto 150px;
            gap: 40px;
        }
    }
/* HEADER */

header{
    .logoheader{
        grid-area: logoheader;
        width: 110px;
        height: 110px;
        .logoheaderimg {
            width: 110px;
            height: 110px;
            cursor: pointer;
        }
    }
    .tituloheader{
        font-size: 2rem;
        padding-right: 1rem;
    }
    .navheader{
        .navbar-nav{
            li{
                font-size: 1rem;
                padding: 5px;
            }
        }
    }
}

/* FIN HEADER */

/* INDEX */

.titulomain{
    h1{
        @include h1;
        font-size:2.5rem;
        margin: 0.7rem;
    }
    p{
        font-size: 1.5rem;
        margin: 0.7rem;
    }
    
    .frase{
        font-size: 1.7rem;
    }
}
    .hrmain{
        margin: 2rem auto;
    }

    .redessocialesmain{
        margin: 7rem;
        img{
            width: 400px;
            height: 400px;
        }
        h2{
            font-size: 2rem;
            font-weight: 600;
        }
        p{
            font-size: 1.4rem;
            font-weight: 550;
        }
    }

    .publicidadmain{
        margin: 7rem;
        img{
            width: 400px;
            height: 400px;
        }
        h2{
            font-size: 2rem;
            font-weight: 600;
        }
        p{
            font-size: 1.4rem;
            font-weight: 550;
        }
    }

    .fotografiamain{
        margin: 7rem;
        img{
            width: 400px;
            height: 400px;
        }
        h2{
            font-size: 2rem;
            font-weight: 600;
        }
        p{
            font-size: 1.4rem;
            font-weight: 550;
        }
    }

    .logosmain{
        margin-top: 5rem;
        height: 220px;
        img{
            height: 180px;
            width: 180px;
        }
    }

    .newslettermain{
        margin: 10rem;
        h2{
            font-size: 2.5rem;
            font-weight: 600;
            margin-bottom: 2rem;
        }
        fieldset{
            input{
                padding: 0.5rem;
                font-size: 1rem;
                justify-content: center;
            }
            .inputemail{
                width: 40%;
            }
            .inputsubmit{
                width: 15%;
            }
        }
    }

/* FIN INDEX */

/* FOOTER */

footer {
    display: grid;
    grid-template-columns: 10% auto 10%;
    grid-template-rows: 30% 20% 35% 15%;
    .logofooter{
        display: flex;
        align-items: flex-end;
        .logofooterimg {
            width: 110px;
            height: 110px;
        }
    }
    h3{
        font-size: 1.4rem;
        padding: 0.1rem;
        margin: 0%;
    }
    .redesfooter{
        a img{
            width: 30px;
            height: 30px;
            margin: 7px
        }
    }
    .botonirarriba{
        img{
            width: 30px;
            height: 30px;
        }
    }
    .navfooter{
        li{
            font-size: 0.8rem;
            font-weight: bold;
            padding: 0.5rem;
            align-self: center;
        }
    }
    h4{
        font-size: 1rem;
        font-weight: 600;
    }
}

/* FIN FOOTER */

}


@media screen and (max-width: 1200px){
    
    body{
        .gridbody {
            grid-template-rows: 100px auto 130px;
            gap: 35px;
        }
    }

/* HEADER */

header{
    .logoheader{
        width: 100px;
        height: 100px;
        .logoheaderimg {
            width: 110px;
            height: 110px;
        }
    }
    .tituloheader{
        font-size: 1.8rem;
        padding-right: 1rem;
    }
    .navheader{
        .navbar-nav{
            li{
                font-size: 0.9rem;
                padding: 5px;
            }
        }
    }
}

/* FIN HEADER */

/* INDEX */

.titulomain{
    h1{
        @include h1;
        font-size:2.3rem;
        margin: 0.5rem;
    }
    p{
        font-size: 1.4rem;
        margin: 0.5rem;
    }
    
    .frase{
        font-size: 1.5rem;
    }
}
    .hrmain{
        margin: 1.5rem auto;
    }

    .redessocialesmain{
        margin: 4rem;
        img{
            width: 350px;
            height: 350px;
        }
        h2{
            font-size: 1.7rem;
        }
        p{
            font-size: 1.25rem;
        }
    }

    .publicidadmain{
        margin: 5rem;
        img{
            width: 350px;
            height: 350px;
        }
        h2{
            font-size: 1.7rem;
        }
        p{
            font-size: 1.25rem;
        }
    }

    .fotografiamain{
        margin: 4rem;
        img{
            width: 350px;
            height: 350px;
        }
        h2{
            font-size: 1.7rem;
        }
        p{
            font-size: 1.25rem;
        }
    }

    .logosmain{
        margin-top: 10rem;
        height: 200px;
        img{
            height: 150px;
            width: 150px;
        }
    }

    .newslettermain{
        margin: 8rem;
        h2{
            font-size: 2rem;
            margin-bottom: 1.5rem;
        }
        fieldset{
            input{
                padding: 0.4rem;
                font-size: 1rem;
            }
            .inputemail{
                width: 40%;
            }
            .inputsubmit{
                width: 15%;
            }
        }
    }

/* FIN INDEX */

/* FOOTER */

footer {
    .logofooter{
        .logofooterimg {
            width: 90px;
            height: 90px;
        }
    }
    h3{
        font-size: 1.3rem;
        padding: 0.1rem;
    }
    .redesfooter{
        a img{
            width: 25px;
            height: 25px;
            margin: 6px
        }
    }
    .botonirarriba{
        img{
            width: 25px;
            height: 25px;
        }
    }
    .navfooter{
        li{
            font-size: 0.8rem;
            padding: 0.5rem;
        }
    }
    h4{
        font-size: 0.9rem;
    }
}

/* FIN FOOTER */

}


@media screen and (max-width: 991px){
    
    body{
        .gridbody {
            grid-template-rows: 100px auto 90px;
            gap: 20px;
        }
    }

/* HEADER */

    header{
        grid-template-columns: 10% auto 10%;
        grid-template-rows: 100%;
        grid-template-areas: "logoheader tituloheader navheader";
        .logoheader{
            width: 80px;
            height: 80px;
            .logoheaderimg {
                width: 80px;
                height: 80px;
            }
        }
        .tituloheader{
            font-size: 2rem;
            justify-content: center;
        }
        .navheader{
            border: 0;
            align-self: center;
            .navbar-nav{
                li{
                    font-size: 1rem;
                }
            }
        }
    }

/* FIN HEADER */

/* INDEX */

.titulomain{
    h1{
        @include h1;
        font-size:2.5rem;
        margin: 1rem;
    }
    p{
        font-size: 1.5rem;
        margin: 0.6rem;
    }
    
    .frase{
        font-size: 1.7rem;
    }
}
    .hrmain{
        margin: 2rem auto;
    }

    .redessocialesmain{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 60% 10% 30%;
        grid-template-areas: "redessocialesimagen" "redessocialesh2" "redessocialesp";
        gap: 1.5rem;
        margin: 5rem;    
        img{
            width: 400px;
            height: 400px;
        }
        h2{
            font-size: 2.3rem;
        }
        p{
            font-size: 1.3rem;
        }
    }

    .publicidadmain{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 60% 10% 30%;
        grid-template-areas:  "publicidadimagen" "publicidadh2" "publicidadp";
        gap: 1.5rem;
        margin: 5rem;
        img{
            width: 400px;
            height: 400px;
        }
        h2{
            font-size: 2.3rem;
        }
        p{
            font-size: 1.3rem;
        }
    }

    .fotografiamain{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 60% 10% 30%;
        grid-template-areas: "fotografiaimagen" "fotografiah2" "fotografiap";
        gap: 1.5rem;
        margin: 5rem;
        img{
            width: 400px;
            height: 400px;
        }
        h2{
            font-size: 2.3rem;
        }
        p{
            font-size: 1.3rem;
        }
    }

    .logosmain{
        margin-top: 7rem;
        height: 180px;
        img{
            height: 130px;
            width: 130px;
        }
    }

    .newslettermain{
        margin: 5rem;
        h2{
            font-size: 1.5rem;
            margin-bottom: 1.3rem;
        }
        fieldset{
            input{
                padding: 0.2rem;
                font-size: 1rem;
            }
            .inputemail{
                width: 40%;
            }
            .inputsubmit{
                width: 17%;
            }
        }
    }

/* FIN INDEX */

/* FOOTER */

footer {
    grid-template-rows: 40% 40% 20%;
    grid-template-areas: "logofooter h3footer botonfooter""logofooter redesfooter botonfooter""h4footer h4footer botonfooter";
    .logofooter{
        .logofooterimg {
            width: 70px;
            height: 70px;
        }
    }
    h3{
        font-size: 1.2rem;
        padding: 0.1rem;
    }
    .redesfooter{
        a img{
            width: 25px;
            height: 25px;
            margin: 6px
        }
    }
    .botonirarriba{
        img{
            width: 25px;
            height: 25px;
        }
    }

    .navfooter{
        grid-area: navfooter;
        display: none;
    }
    h4{
        font-size: 0.9rem;
    }
}

/* FIN FOOTER */

}

@media screen and (max-width: 767px){

    
    body{
        .gridbody {
            grid-template-rows: 80px auto 90px;
            gap: 20px;
        }
    }

/* HEADER */

    header{
        .logoheader{
            width: 70px;
            height: 70px;
            .logoheaderimg {
                width: 70px;
                height: 70px;
            }
        }
        .tituloheader{
            font-size: 1.7rem;
        }
    }

/* FIN HEADER */

/* INDEX */

.titulomain{
    h1{
        @include h1;
        font-size:2.1rem;
        margin: 0.7rem;
    }
    p{
        font-size: 1.4rem;
        margin: 0.2rem;
    }
    
    .frase{
        font-size: 1.4rem;
    }
}
    .hrmain{
        margin: 1.2rem auto;
    }

    .redessocialesmain{
        gap: 1.5rem;
        margin: 4rem;    
        img{
            width: 400px;
            height: 400px;
        }
        h2{
            font-size: 2rem;
        }
        p{
            font-size: 1.2rem;
        }
    }

    .publicidadmain{
        gap: 1.5rem;
        margin: 4rem;    
        img{
            width: 400px;
            height: 400px;
        }
        h2{
            font-size: 2rem;
        }
        p{
            font-size: 1.2rem;
        }
    }

    .fotografiamain{
        gap: 1.5rem;
        margin: 4rem;    
        img{
            width: 400px;
            height: 400px;
        }
        h2{
            font-size: 2rem;
        }
        p{
            font-size: 1.2rem;
        }
    }

    .logosmain{
        margin-top: 6rem;
        height: 160px;
        img{
            height: 120px;
            width: 120px;
        }
    }

    .newslettermain{
        margin: 4rem;
        h2{
            font-size: 1.3rem;
            margin-bottom: 1.2rem;
        }
        fieldset{
            input{
                padding: 0.2rem;
                font-size: 1rem;
            }
            .inputemail{
                width: 50%;
            }
            .inputsubmit{
                width: 25%;
            }
        }
    }

/* FIN INDEX */

/* FOOTER */

footer {
    grid-template-rows: 40% 40% 20%;
    grid-template-areas: "logofooter h3footer botonfooter""logofooter redesfooter botonfooter""h4footer h4footer botonfooter";
    .logofooter{
        .logofooterimg {
            width: 70px;
            height: 70px;
        }
    }
    h3{
        font-size: 1.2rem;
        padding: 0.1rem;
    }
    .redesfooter{
        a img{
            width: 25px;
            height: 25px;
            margin: 6px
        }
    }
    .botonirarriba{
        img{
            width: 25px;
            height: 25px;
        }
    }

    .navfooter{
        grid-area: navfooter;
        display: none;
    }
    h4{
        font-size: 0.9rem;
    }
}

/* FIN FOOTER */

}

@media screen and (max-width: 575px){

    body{
        width: 100% !important;
        .gridbody {
            grid-template-rows: 80px auto 90px;
            gap: 20px;
            width: 100% !important;
        }
    }

/* HEADER */

    header{
        .logoheader{
            width: 60px;
            height: 60px;
            .logoheaderimg {
                width: 60px;
                height: 60px;
            }
        }
        .tituloheader{
            font-size: 1rem;
        }
    }

/* FIN HEADER */

/* INDEX */

.titulomain{
    width: 100% !important;
    h1{
        @include h1;
        font-size:1.7rem;
        margin: 0.7rem;
    }
    p{
        font-size: 1.2rem;
        margin: 0.2rem;
    }
    
    .frase{
        font-size: 1.3rem;
    }
}
    .hrmain{
        margin: 1.2rem auto;
    }

    .redessocialesmain{
        gap: 1.5rem;
        margin: 5rem;
        grid-template-rows: 40% 10% 50%;    
        img{
            width: 250px;
            height: 250px;
        }
        h2{
            font-size: 2rem;
        }
        p{
            font-size: 1.2rem;
        }
    }

    .publicidadmain{
        gap: 1.5rem;
        margin: 5rem;
        grid-template-rows: 40% 10% 50%;    
        img{
            width: 250px;
            height: 250px;
        }
        h2{
            font-size: 2rem;
        }
        p{
            font-size: 1.2rem;
        }
    }

    .fotografiamain{
        gap: 1.5rem;
        margin: 5rem;
        grid-template-rows: 40% 10% 50%;    
        img{
            width: 250px;
            height: 250px;
        }
        h2{
            font-size: 2rem;
        }
        p{
            font-size: 1.2rem;
        }
    }

    .logosmain{
        margin-top: 6rem;
        height: 120px;
        justify-content: start;
        img{
            height: 60px;
            width: 60px;
        }
    }

    .newslettermain{
        margin: 4rem;
        h2{
            font-size: 1.3rem;
            margin-bottom: 1.2rem;
        }
        fieldset{
            input{
                padding: 0.2rem;
                font-size: 1rem;
            }
            .inputemail{
                width: 50%;
            }
            .inputsubmit{
                width: 25%;
            }
        }
    }

/* FIN INDEX */

/* FOOTER */

footer {
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: 40% 40% 20%;
    grid-template-areas: "logofooter redesfooter botonfooter""logofooter redesfooter botonfooter""h4footer h4footer botonfooter";
    .logofooter{
        .logofooterimg {
            width: 50px;
            height: 50px;
        }
    }
    h3{
        display: none;
        font-size: 1.2rem;
        padding: 0.1rem;
    }
    .redesfooter{
        a img{
            width: 25px;
            height: 25px;
            margin: 6px
        }
    }
    .botonirarriba{
        img{
            width: 25px;
            height: 25px;
        }
    }

    .navfooter{
        grid-area: navfooter;
        display: none;
    }
    h4{
        font-size: 0.9rem;
    }
}

}