@media screen and (max-width: 1400px){

    body{
        .gridbody {
            grid-template-rows: 110px auto 150px;
            gap: 40px;
        }
    }
/* INICIO HEADER */

header{
    .logoheader{
        grid-area: logoheader;
        width: 110px;
        height: 110px;
        .logoheaderimg {
            width: 110px;
            height: 110px;
            cursor: pointer;
        }
    }
    .tituloheader{
        font-size: 2rem;
        padding-right: 1rem;
    }
    .navheader{
        .navbar-nav{
            li{
                font-size: 1rem;
                padding: 5px;
            }
        }
    }
}

/* FIN HEADER */

/* INDEX */

.titulomain{
    h1{
        @include h1;
        font-size:2.5rem;
        margin: 0.7rem;
    }
    p{
        font-size: 1.5rem;
        margin: 0.7rem;
    }
    
    .frase{
        font-size: 1.7rem;
    }
}
    .hrmain{
        margin: 2rem auto;
    }

    .redessocialesmain{
        margin: 7rem;
        img{
            width: 400px;
            height: 400px;
        }
        h2{
            font-size: 2rem;
            font-weight: 600;
        }
        p{
            font-size: 1.4rem;
            font-weight: 550;
        }
    }

    .publicidadmain{
        margin: 7rem;
        img{
            width: 400px;
            height: 400px;
        }
        h2{
            font-size: 2rem;
            font-weight: 600;
        }
        p{
            font-size: 1.4rem;
            font-weight: 550;
        }
    }

    .fotografiamain{
        margin: 7rem;
        img{
            width: 400px;
            height: 400px;
        }
        h2{
            font-size: 2rem;
            font-weight: 600;
        }
        p{
            font-size: 1.4rem;
            font-weight: 550;
        }
    }

    .logosmain{
        margin-top: 5rem;
        height: 220px;
        img{
            height: 180px;
            width: 180px;
        }
    }

    .newslettermain{
        margin: 10rem;
        h2{
            font-size: 2.5rem;
            font-weight: 600;
            margin-bottom: 2rem;
        }
        fieldset{
            input{
                padding: 0.5rem;
                font-size: 1rem;
                justify-content: center;
            }
            .inputemail{
                width: 40%;
            }
            .inputsubmit{
                width: 15%;
            }
        }
    }

/* FIN INDEX */

/* INICIO QUIENES SOMOS */

.perfil1{
    margin: 8rem;
    grid-template-columns: 40% 60%;
    .imagenperfil1{
        justify-self: start;
    }
}

.perfil2{
    margin: 8rem;
    grid-template-columns: 60% 40%;
    .imagenperfil1{
        justify-self: end;
    }
}

/* FIN QUIENES SOMOS */

/* Inicio CSS Main Nuestros planes */

.titulotuplan{
    h1{
        @include h1;
        margin: 1rem;
        font-size: 3rem;
    }
}

.planes{
    .row{
        .card{
            margin: 1rem;
            .card-body{
                h3{
                    font-size: 2.3rem;
                }
            }          
        }
    }
}

.armatuplan{
    h2{
        font-size: 2.6rem;
        margin-bottom: 1.5rem;
        margin-top: 2rem;
    }
    .form-check{
        font-size: 1.7rem;
        font-weight: 600;
        margin: 1rem;
    }
}

.submitplan{
    margin-top: 3rem;
    h3{
        font-size: 2.3rem;
    }
    .fieldsetplan{
        margin: 1.5rem;
        input{
            font-size: 1.2rem;
        }
        textarea{
            font-size: 1.4rem;
            height: 7rem;
        }
    }
}

/* Fin CSS Main Nuestros planes */

/* Inicio CSS Main Portfolio */

main{
    h1{
        @include h1;
        font-size: 2.8rem;
    }
    .carousel{
        h2{
            font-size: 2rem;
        }
        .carousel-inner{
            img{
                height: 25%;
                width: 25%;
                margin:0 auto;
                margin-top: 0.2rem;
            }
        }
    }
}

/* Fin CSS Main Portfolio */

/* FOOTER */

footer {
    display: grid;
    grid-template-columns: 10% auto 10%;
    grid-template-rows: 30% 20% 35% 15%;
    .logofooter{
        display: flex;
        align-items: flex-end;
        .logofooterimg {
            width: 110px;
            height: 110px;
        }
    }
    h3{
        font-size: 1.4rem;
        padding: 0.1rem;
        margin: 0%;
    }
    .redesfooter{
        a img{
            width: 30px;
            height: 30px;
            margin: 7px
        }
    }
    .botonirarriba{
        img{
            width: 30px;
            height: 30px;
        }
    }
    .navfooter{
        li{
            font-size: 0.8rem;
            font-weight: bold;
            padding: 0.5rem;
            align-self: center;
        }
    }
    h4{
        font-size: 1rem;
        font-weight: 600;
    }
}

/* FIN FOOTER */

}


@media screen and (max-width: 1200px){
    
    body{
        .gridbody {
            grid-template-rows: 100px auto 130px;
            gap: 35px;
        }
    }

/* HEADER */

header{
    .logoheader{
        width: 100px;
        height: 100px;
        .logoheaderimg {
            width: 110px;
            height: 110px;
        }
    }
    .tituloheader{
        font-size: 1.8rem;
        padding-right: 1rem;
    }
    .navheader{
        .navbar-nav{
            li{
                font-size: 0.9rem;
                padding: 5px;
            }
        }
    }
}

/* FIN HEADER */

/* INDEX */

.titulomain{
    h1{
        @include h1;
        font-size:2.3rem;
        margin: 0.5rem;
    }
    p{
        font-size: 1.4rem;
        margin: 0.5rem;
    }
    
    .frase{
        font-size: 1.5rem;
    }
}
    .hrmain{
        margin: 1.5rem auto;
    }

    .redessocialesmain{
        margin: 4rem;
        img{
            width: 350px;
            height: 350px;
        }
        h2{
            font-size: 1.7rem;
        }
        p{
            font-size: 1.25rem;
        }
    }

    .publicidadmain{
        margin: 5rem;
        img{
            width: 350px;
            height: 350px;
        }
        h2{
            font-size: 1.7rem;
        }
        p{
            font-size: 1.25rem;
        }
    }

    .fotografiamain{
        margin: 4rem;
        img{
            width: 350px;
            height: 350px;
        }
        h2{
            font-size: 1.7rem;
        }
        p{
            font-size: 1.25rem;
        }
    }

    .logosmain{
        margin-top: 10rem;
        height: 200px;
        img{
            height: 150px;
            width: 150px;
        }
    }

    .newslettermain{
        margin: 8rem;
        h2{
            font-size: 2rem;
            margin-bottom: 1.5rem;
        }
        fieldset{
            input{
                padding: 0.4rem;
                font-size: 1rem;
            }
            .inputemail{
                width: 40%;
            }
            .inputsubmit{
                width: 15%;
            }
        }
    }

/* FIN INDEX */

/* INICIO QUIENES SOMOS */

.perfil1{
    margin: 6rem;
    grid-template-columns: 30% 70%;
    .imagenperfil1{
        justify-self: start;
        width: 200px;
        height: 200px;
    }
}

.perfil2{
    margin: 6rem;
    grid-template-columns: 70% 30%;
    .imagenperfil2{
        justify-self: start;
        width: 200px;
        height: 200px;
    }
}

/* FIN QUIENES SOMOS */

/* Inicio CSS Main Portfolio */

main{
    h1{
        @include h1;
        font-size: 2.3rem;
    }
    .carousel{
        h2{
            font-size: 1.8rem;
        }
        .carousel-inner{
            img{
                height: 25%;
                width: 25%;
                margin:0 auto;
                margin-top: 0.2rem;
            }
        }
    }
}

/* Fin CSS Main Portfolio */

/* FOOTER */

footer {
    .logofooter{
        .logofooterimg {
            width: 90px;
            height: 90px;
        }
    }
    h3{
        font-size: 1.3rem;
        padding: 0.1rem;
    }
    .redesfooter{
        a img{
            width: 25px;
            height: 25px;
            margin: 6px
        }
    }
    .botonirarriba{
        img{
            width: 25px;
            height: 25px;
        }
    }
    .navfooter{
        li{
            font-size: 0.8rem;
            padding: 0.5rem;
        }
    }
    h4{
        font-size: 0.9rem;
    }
}

/* FIN FOOTER */

}


@media screen and (max-width: 991px){
    
    body{
        .gridbody {
            grid-template-rows: 100px auto 90px;
            gap: 20px;
        }
    }

/* HEADER */

    header{
        grid-template-columns: 10% auto 10%;
        grid-template-rows: 100%;
        grid-template-areas: "logoheader tituloheader navheader";
        .logoheader{
            width: 80px;
            height: 80px;
            .logoheaderimg {
                width: 80px;
                height: 80px;
            }
        }
        .tituloheader{
            font-size: 2rem;
            justify-content: center;
        }
        .navheader{
            border: 0;
            align-self: center;
            .navbar-nav{
                li{
                    font-size: 1rem;
                }
            }
        }
    }

/* FIN HEADER */

/* INDEX */

.titulomain{
    h1{
        @include h1;
        font-size:2.5rem;
        margin: 1rem;
    }
    p{
        font-size: 1.5rem;
        margin: 0.6rem;
    }
    
    .frase{
        font-size: 1.7rem;
    }
}
    .hrmain{
        margin: 2rem auto;
    }

    .redessocialesmain{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 60% 10% 30%;
        grid-template-areas: "redessocialesimagen" "redessocialesh2" "redessocialesp";
        gap: 1.5rem;
        margin: 5rem;    
        img{
            width: 400px;
            height: 400px;
        }
        h2{
            font-size: 2.3rem;
        }
        p{
            font-size: 1.3rem;
        }
    }

    .publicidadmain{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 60% 10% 30%;
        grid-template-areas:  "publicidadimagen" "publicidadh2" "publicidadp";
        gap: 1.5rem;
        margin: 5rem;
        img{
            width: 400px;
            height: 400px;
        }
        h2{
            font-size: 2.3rem;
        }
        p{
            font-size: 1.3rem;
        }
    }

    .fotografiamain{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 60% 10% 30%;
        grid-template-areas: "fotografiaimagen" "fotografiah2" "fotografiap";
        gap: 1.5rem;
        margin: 5rem;
        img{
            width: 400px;
            height: 400px;
        }
        h2{
            font-size: 2.3rem;
        }
        p{
            font-size: 1.3rem;
        }
    }

    .logosmain{
        margin-top: 7rem;
        height: 180px;
        img{
            height: 130px;
            width: 130px;
        }
    }

    .newslettermain{
        margin: 5rem;
        h2{
            font-size: 1.5rem;
            margin-bottom: 1.3rem;
        }
        fieldset{
            input{
                padding: 0.2rem;
                font-size: 1rem;
            }
            .inputemail{
                width: 40%;
            }
            .inputsubmit{
                width: 17%;
            }
        }
    }

/* FIN INDEX */

/* INICIO QUIENES SOMOS */

.perfil1{
    margin: 2rem;
    margin-top: 6rem;
    grid-template-rows: auto auto;
    h2{
        font-size: 2.5rem;
        align-self: center;
    }
    p{
        font-size: 2rem;
        align-self: center;
        margin: 0;
    }
}

.perfil2{
    margin: 2rem;
    margin-top: 6rem;
    grid-template-rows: auto auto;
    h2{
        font-size: 2.5rem;
        align-self: center;
    }
    p{
        font-size: 2rem;
        align-self: center;
        margin: 0;
    }
}

/* FIN QUIENES SOMOS */

/* Inicio CSS Main Nuestros planes */

.titulotuplan{
    h1{
        @include h1;
        margin: 1rem;
        font-size: 3rem;
    }
}

.planes{
    justify-content: center;
    .row{
        .card{
            display:block;
            margin: 1rem;
            img{
                width: 70%;
                height: 70%;
                transition: all 0.3s ease 0s;
                &:hover{
                    transform: scale(1.05);
                }
            }
            .card-body{
                h3{
                    font-size: 2.3rem;
                }
            }          
        }
    }
}

.armatuplan{
    h2{
        font-size: 2.2rem;
    }
    .form-check{
        font-size: 1.5rem;
        margin: 0.8rem;
    }
}

.submitplan{
    margin-top: 3rem;
    h3{
        font-size: 1.7rem;
    }
    .fieldsetplan{
        margin: 1.5rem;
        input{
            width: 35%;
            font-size: 1rem;
        }
        textarea{
            font-size: 1.2rem;
            height: 6rem;
            width: 100%;
        }
    }
}

/* Fin CSS Main Nuestros planes */

/* Inicio CSS Main Portfolio */

main{
    h1{
        @include h1;
        font-size: 1.8rem;
        margin: 0;
        margin-bottom: 1rem;
    }
    .carousel{
        h2{
            font-size: 1.5rem;
        }
        .carousel-inner{
            img{
                height: 25%;
                width: 25%;
                margin:0 auto;
                margin-top: 0.2rem;
            }
        }
    }
}

/* Fin CSS Main Portfolio */

/* Inicio CSS Main Contacto */

.titulocontacto{
    margin: 0%;
    margin-bottom: 1rem;
    h1{
        @include h1;
        font-size: 2.5rem;
    }
}

.listacontacto{
    font-size: 1.1rem;
    img{
        height: 1.8rem;
        width: 1.8rem;
        margin-right: 1rem;
    }
    li{
        margin-bottom: 1rem;
    }
}

div iframe{
    width: 100%;
    height: 300px;
}

/* Fin CSS Main Contacto */

/* FOOTER */

footer {
    grid-template-rows: 40% 40% 20%;
    grid-template-areas: "logofooter h3footer botonfooter""logofooter redesfooter botonfooter""h4footer h4footer botonfooter";
    .logofooter{
        .logofooterimg {
            width: 70px;
            height: 70px;
        }
    }
    h3{
        font-size: 1.2rem;
        padding: 0.1rem;
    }
    .redesfooter{
        a img{
            width: 25px;
            height: 25px;
            margin: 6px
        }
    }
    .botonirarriba{
        img{
            width: 25px;
            height: 25px;
        }
    }

    .navfooter{
        grid-area: navfooter;
        display: none;
    }
    h4{
        font-size: 0.9rem;
    }
}

/* FIN FOOTER */

}

@media screen and (max-width: 767px){

    
    body{
        .gridbody {
            grid-template-rows: 80px auto 90px;
            gap: 20px;
        }
    }

/* HEADER */

    header{
        .logoheader{
            width: 70px;
            height: 70px;
            .logoheaderimg {
                width: 70px;
                height: 70px;
            }
        }
        .tituloheader{
            font-size: 1.7rem;
        }
    }

/* FIN HEADER */

/* INDEX */

.titulomain{
    h1{
        @include h1;
        font-size:2.1rem;
        margin: 0.7rem;
    }
    p{
        font-size: 1.4rem;
        margin: 0.2rem;
    }
    
    .frase{
        font-size: 1.4rem;
    }
}
    .hrmain{
        margin: 1.2rem auto;
    }

    .redessocialesmain{
        gap: 1.5rem;
        margin: 4rem;    
        img{
            width: 400px;
            height: 400px;
        }
        h2{
            font-size: 2rem;
        }
        p{
            font-size: 1.2rem;
        }
    }

    .publicidadmain{
        gap: 1.5rem;
        margin: 4rem;    
        img{
            width: 400px;
            height: 400px;
        }
        h2{
            font-size: 2rem;
        }
        p{
            font-size: 1.2rem;
        }
    }

    .fotografiamain{
        gap: 1.5rem;
        margin: 4rem;    
        img{
            width: 400px;
            height: 400px;
        }
        h2{
            font-size: 2rem;
        }
        p{
            font-size: 1.2rem;
        }
    }

    .logosmain{
        margin-top: 6rem;
        height: 160px;
        img{
            height: 120px;
            width: 120px;
        }
    }

    .newslettermain{
        margin: 4rem;
        h2{
            font-size: 1.3rem;
            margin-bottom: 1.2rem;
        }
        fieldset{
            input{
                padding: 0.2rem;
                font-size: 1rem;
            }
            .inputemail{
                width: 50%;
            }
            .inputsubmit{
                width: 25%;
            }
        }
    }

/* FIN INDEX */

/* INICIO QUIENES SOMOS */

.perfil1{
    margin: 1rem;
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto;
    grid-template-areas: "imagenperfil1" "perfil1h2" "perfil1p";
    .imagenperfil1{
        width: 200px;
        height: 200px;
        justify-self: center;
        margin: 3rem;
    }
    h2{
        font-size: 2.8rem;
    }
    p{
        font-size: 2.1rem;
        margin: 1rem;
    }
}

.perfil2{
    margin: 1rem;
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto;
    grid-template-areas: "imagenperfil2" "perfil2h2" "perfil2p";
    .imagenperfil2{
        width: 200px;
        height: 200px;
        justify-self: center;
        margin: 3rem;
    }
    h2{
        font-size: 2.8rem;
    }
    p{
        font-size: 2.1rem;
        margin: 1rem;
    }
}

/* FIN QUIENES SOMOS */

/* Inicio CSS Main Nuestros planes */

.titulotuplan{
    h1{
        @include h1;
        margin: 1rem;
        font-size: 2.5rem;
    }
}

.planes{
    justify-content: center;
    .row{
        .card{
            display:block;
            margin: 1rem;
            img{
                width: 70%;
                height: 70%;
            }
            .card-body{
                h3{
                    font-size: 2rem;
                }
            }          
        }
    }
}

.armatuplan{
    h2{
        font-size: 2rem;
    }
    .form-check{
        font-size: 1.4rem;
        margin: 0.5rem;
    }
}

.submitplan{
    margin-top: 2rem;
    h3{
        font-size: 1.4rem;
    }
    .fieldsetplan{
        margin: 1.5rem;
        input{
            width: 40%;
            font-size: 1rem;
        }
        textarea{
            font-size: 1.1rem;
            height: 6rem;
            width: 100%;
        }
    }
}

/* Fin CSS Main Nuestros planes */

/* Inicio CSS Main Portfolio */

main{
    h1{
        @include h1;
        font-size: 1.5rem;
        margin: 0;
        margin-bottom: 0.8rem;
    }
    .carousel{
        h2{
            font-size: 1.2rem;
        }
        .carousel-inner{
            img{
                height: 25%;
                width: 25%;
                margin:0 auto;
                margin-top: 0.2rem;
            }
        }
    }
}

/* Fin CSS Main Portfolio */

/* FOOTER */

footer {
    grid-template-rows: 40% 40% 20%;
    grid-template-areas: "logofooter h3footer botonfooter""logofooter redesfooter botonfooter""h4footer h4footer botonfooter";
    .logofooter{
        .logofooterimg {
            width: 70px;
            height: 70px;
        }
    }
    h3{
        font-size: 1.2rem;
        padding: 0.1rem;
    }
    .redesfooter{
        a img{
            width: 25px;
            height: 25px;
            margin: 6px
        }
    }
    .botonirarriba{
        img{
            width: 25px;
            height: 25px;
        }
    }

    .navfooter{
        grid-area: navfooter;
        display: none;
    }
    h4{
        font-size: 0.9rem;
    }
}

/* FIN FOOTER */

}

@media screen and (max-width: 575px){

    body{
        width: 100% !important;
        .gridbody {
            grid-template-rows: 80px auto 90px;
            gap: 20px;
            width: 100% !important;
        }
    }

/* HEADER */

    header{
        .logoheader{
            width: 60px;
            height: 60px;
            .logoheaderimg {
                width: 60px;
                height: 60px;
            }
        }
        .tituloheader{
            font-size: 1rem;
        }
    }

/* FIN HEADER */

/* INDEX */

.titulomain{
    width: 100% !important;
    h1{
        @include h1;
        font-size:1.7rem;
        margin: 0.7rem;
    }
    p{
        font-size: 1.2rem;
        margin: 0.2rem;
    }
    
    .frase{
        font-size: 1.3rem;
    }
}
    .hrmain{
        margin: 1.2rem auto;
    }

    .redessocialesmain{
        gap: 1.5rem;
        margin: 5rem;
        grid-template-rows: 40% 10% 50%;    
        img{
            width: 250px;
            height: 250px;
        }
        h2{
            font-size: 2rem;
        }
        p{
            font-size: 1.2rem;
        }
    }

    .publicidadmain{
        gap: 1.5rem;
        margin: 5rem;
        grid-template-rows: 40% 10% 50%;    
        img{
            width: 250px;
            height: 250px;
        }
        h2{
            font-size: 2rem;
        }
        p{
            font-size: 1.2rem;
        }
    }

    .fotografiamain{
        gap: 1.5rem;
        margin: 5rem;
        grid-template-rows: 40% 10% 50%;    
        img{
            width: 250px;
            height: 250px;
        }
        h2{
            font-size: 2rem;
        }
        p{
            font-size: 1.2rem;
        }
    }

    .logosmain{
        margin-top: 6rem;
        height: 120px;
        img{
            height: 70px;
            width: 70px;
        }
    }

    .newslettermain{
        margin: 2.5rem;
        h2{
            font-size: 1rem;
            margin-bottom: 1.2rem;
        }
        fieldset{
            input{
                padding: 0.2rem;
                font-size: 0.85rem;
            }
            .inputemail{
                width: 50%;
            }
            .inputsubmit{
                width: 25%;
            }
        }
    }

/* FIN INDEX */

/* INICIO QUIENES SOMOS */

.tituloquienessomos{
    h1{
        @include h1;
        margin: 0%;
        margin-top: 1rem;
        font-size: 2.3rem;
    }
}

.historia{
    margin: 0%;
    margin-top: 2rem;
    h2{
        color: map-get($estilos, colorPrincipal);
        font-weight: bold;
        font-size: 2rem;
        margin-left: 1rem;
    }
    p{
        color: black;
        font-weight: 500;
        margin: 1rem;
        font-size: 1.5rem;
    }
}

.hrmain{
    width: 50%;
    margin: 3rem auto;
    background-color: map-get($estilos, colorPrincipal);
    height: 3px;
}

.perfil1{
    margin: 1rem;
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto;
    grid-template-areas: "imagenperfil1" "perfil1h2" "perfil1p";
    .imagenperfil1{
        width: 150px;
        height: 150px;
        justify-self: center;
        margin: 2rem;
    }
    h2{
        font-size: 1.7rem;
    }
    p{
        font-size: 1.3rem;
        margin: 1rem;
    }
}

.perfil2{
    margin: 1rem;
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto;
    grid-template-areas: "imagenperfil2" "perfil2h2" "perfil2p";
    .imagenperfil2{
        width: 150px;
        height: 150px;
        justify-self: center;
        margin: 2rem;
    }
    h2{
        font-size: 1.7rem;
    }
    p{
        font-size: 1.3rem;
        margin: 1rem;
    }
}

/* FIN QUIENES SOMOS */

/* Inicio CSS Main Nuestros servicios */

.titulonuestrosservicios{
    margin-bottom: 0;
    h1{
        @include h1;
        font-size: 2.1rem;
    }
}

.servicios{
    margin-left: 5%;
    margin-right: 5%;
    h2{
        font-size: 1.5rem;
    }
    ul{
        font-size: 1.2rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
        li{
            margin-bottom: 0.8rem;
        }
    }
}

/* Fin CSS Main Nuestros servicios */

/* Inicio CSS Main Nuestros planes */

.titulotuplan{
    h1{
        @include h1;
        margin: 0.5rem;
        font-size: 2rem;
    }
}

.planes{
    justify-content: center;
    .row{
        .card{
            display:block;
            margin: 0.5rem;
            img{
                width: 70%;
                height: 70%;
            }
            .card-body{
                h3{
                    font-size: 1.5rem;
                }
            }          
        }
    }
}

.armatuplan{
    h2{
        font-size: 1.5rem;
    }
    .form-check{
        font-size: 1rem;
        margin: 0.3rem;
    }
}

.submitplan{
    margin-top: 1rem;
    h3{
        font-size: 1.3rem;
        text-align: center;
    }
    .fieldsetplan{
        margin: 1.5rem;
        input{
            width: 50%;
            font-size: 0.8rem;
            height: 1.5rem;
        }
        textarea{
            font-size: 1rem;
            height: 5rem;
            width: 100%;
        }
    }
}

/* Fin CSS Main Nuestros planes */

/* Inicio CSS Main Portfolio */

main{
    h1{
        @include h1;
        font-size: 1.2rem;
        margin: 0;
        margin-bottom: 0.8rem;
    }
    .carousel{
        h2{
            font-size: 1rem;
        }
        .carousel-inner{
            img{
                height: 25%;
                width: 25%;
                margin:0 auto;
                margin-top: 0.2rem;
            }
        }
    }
}

/* Fin CSS Main Portfolio */

/* Inicio CSS Main Contacto */

.titulocontacto{
    margin: 0%;
    margin-bottom: 0.5rem;
    h1{
        @include h1;
        font-size: 2rem;
    }
}

.listacontacto{
    font-size: 1rem;
    img{
        height: 1.4rem;
        width: 1.4rem;
        margin-right: 0.5rem;
    }
    ul{
        padding: 0%;
        li{
            margin-bottom: 0.8rem;
        }
    }
    
}

div iframe{
    width: 100%;
    height: 250px;
}

/* Fin CSS Main Contacto */

/* FOOTER */

footer {
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: 40% 40% 20%;
    grid-template-areas: "logofooter redesfooter botonfooter""logofooter redesfooter botonfooter""h4footer h4footer botonfooter";
    .logofooter{
        .logofooterimg {
            width: 50px;
            height: 50px;
        }
    }
    h3{
        display: none;
        font-size: 1.2rem;
        padding: 0.1rem;
    }
    .redesfooter{
        a img{
            width: 25px;
            height: 25px;
            margin: 6px
        }
    }
    .botonirarriba{
        img{
            width: 25px;
            height: 25px;
        }
    }

    .navfooter{
        grid-area: navfooter;
        display: none;
    }
    h4{
        font-size: 0.9rem;
    }
}

}