/* Comienzo CSS Body */

@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Montserrat:wght@100&display=swap');
@import "variables";
@import "mixins";

*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url(../imagenes/background.png);
    background-size: cover;
    .gridbody {
        font-family: 'Montserrat', sans-serif;
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: 160px auto 200px;
        grid-template-areas: "header""main""footer";
        gap: 40px;
        .header{
            grid-area: header;
        }
        .main{
            grid-area: main;
        }
        .footer{
            grid-area: footer;
        }        
    }
}

/* Fin CSS Body */

/* Comienzo CSS Header */

header{
    display: grid;
    grid-template-columns: 15% auto;
    grid-template-rows: 50% 50%;
    grid-template-areas: "logoheader tituloheader" "logoheader navheader";
    background-color: map-get($estilos, colorFondo);
    width:100%;
    border-bottom: 3px solid;
    border-color: map-get($estilos, colorPrincipal);
    position: fixed;
    z-index: 1;
    .logoheader{
        grid-area: logoheader;
        width: 150px;
        height: 150px;
        display: flex;
        justify-self:flex-start;
        .logoheaderimg {
            width: 150px;
            height: 150px;
            cursor: pointer;
        }
    }
    .tituloheader{
        grid-area: tituloheader;
        font-size: 3rem;
        font-weight: bold;
        display: flex;
        justify-content: end;
        align-items: center;
        padding-right: 1rem;
        color: map-get($estilos, colorPrincipal);
    }
    .navheader{
        grid-area: navheader;
        border-top: 3px solid;
        border-color: map-get($estilos, colorPrincipal);
        .navbar-nav{
            border-top: 3px;
            border-color: map-get($estilos, colorPrincipal);
            li{
                font-size: 1.35rem;
                font-weight: bold;
                padding: 10px;
                list-style: none;
                a{
                    transition: all 0.3s ease 0s;
                    text-decoration: none;
                    color: map-get($estilos, colorPrincipal);
                    &:hover{
                        color: white;
                        transform: scale(1.1);
                    }
                }
            }
        }
    }
}

/* Fin CSS Header */

/* Comienzo CSS Main Index */

.titulomain{
    display: flex;
    flex-direction: column;
    h1{
        @include h1;
    }
    p{
        display: flex;
        justify-self: center;
        width: 80%;
        align-self: center;
        color:black;
        font-size: 2rem;
        margin: 2rem;
        text-align: center;
    }
    
    .frase{
        font-weight: 600;
        justify-content: center;
        font-size: 2.3rem;
        color: map-get($estilos, colorPrincipal);
    }
}

.hrmain{
    width: 50%;
    margin: 2.5rem auto;
    background-color: map-get($estilos, colorPrincipal);
    height: 3px;
}

.redessocialesmain{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 20% 80%;
    grid-template-areas: "redessocialesimagen redessocialesh2" "redessocialesimagen redessocialesp";
    margin: 7rem;
    img{
        grid-area: redessocialesimagen;
        display: flex;
        justify-self: center;
        align-self: center;
        width: 600px;
        height: 600px;
        transition: all 0.3s ease 0s;
        &:hover{
            transform: scale(1.1);
        }
    }
    h2{
        grid-area: redessocialesh2;
        display: flex;
        justify-self: center;
        align-self: center;
        font-size: 3rem;
        font-weight: 600;
        color: map-get($estilos, colorPrincipal);
    }
    p{
        grid-area: redessocialesp;
        display: flex;
        justify-self: center;
        align-self: center;
        font-size: 2rem;
        font-weight: 550;
        color: black;
        text-align: center;
    }
}

.publicidadmain{
    @extend .redessocialesmain;
    grid-template-areas: "publicidadh2 publicidadimagen" "publicidadp publicidadimagen";
    img{
        grid-area: publicidadimagen;    
    }
    h2{
        grid-area: publicidadh2;
    }
    p{
        grid-area: publicidadp
    }
}

.fotografiamain{
    @extend .redessocialesmain;
    grid-template-areas: "fotografiaimagen fotografiah2" "fotografiaimagen fotografiap";
    img{
        grid-area: fotografiaimagen;    
    }
    h2{
        grid-area: fotografiah2;
    }
    p{
        grid-area: fotografiap
    }
}

.logosmain{
    background-color: map-get($estilos, colorFondo);
    margin-top: 200px;
    height: 400px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    img{
        transition: all 0.3s ease 0s;
        &:hover{
            transform: scale(1.4);
        }
    }
}

.newslettermain{
    margin: 16rem;
    display: flex;
    flex-direction: column;
    h2{
        font-size: 50px;
        font-weight: 600;
        color: map-get($estilos, colorPrincipal);
        align-self: center;
        margin-bottom: 50px;
    }
    fieldset{
        border: none;
        input{
            padding: 20px;
            border-radius: 5px;
            font-size: 20px;
            font-weight: 600;
        }
        .inputemail{
            width: 40%;
            margin-left: 19%;
        }
        .inputsubmit{
            width: 15%;
            cursor: pointer;
            background-color:map-get($estilos, colorFondo);
            transition: all 0.3s ease 0s;
            &:hover{
            transform: scale(0.93);
            }
        }
    }
}

/* Fin CSS Main Index */

/* Inicio CSS Main Quienes somos */

.tituloquienessomos{
    h1{
        @include h1;
    }
}

.historia{
    color: map-get($estilos, colorPrincipal);
    display: flex;
    flex-direction: column;
    margin-left: 7%;
    margin-right: 7%;
}

.historia p{
    color: black;
    font-weight: 500;
    margin-top: 20px;
}

.imagenperfil1{
    grid-area: imagenperfil1;
}

.perfil1 h2{
    grid-area: perfil1h2;
}

.perfil1 p{
    grid-area: perfil1p;
}

.perfil1{
    margin-top: 100px;
    display: grid;
    grid-template-columns: 40% auto;
    grid-template-rows: 20% auto;
    grid-template-areas: "imagenperfil1 perfil1h2" "imagenperfil1 perfil1p";
    justify-content: space-between;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 50px;
}

.perfil1 h2{
    font-size: 30px;
    color: map-get($estilos, colorPrincipal);
}

.perfil1 p{
    font-size: 16px;
    align-self: center;
    font-weight: 550;
    color: black;
}

.imagenperfil1{
    border-radius: 100%;
    display: flex;
    align-self: center;
}

.imagenperfil2{
    grid-area: imagenperfil2;
}

.perfil2 h2{
    grid-area: perfil2h2;
}

.perfil2 p{
    grid-area: perfil2p;
}

.perfil2{
    margin-top: 100px;
    display: grid;
    grid-template-columns: auto 40%;
    grid-template-rows: 20% auto;
    grid-template-areas: "perfil2h2 imagenperfil2" "perfil2p imagenperfil2";
    justify-content: space-between;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 50px;
}

.perfil2 h2{
    font-size: 30px;
    color: map-get($estilos, colorPrincipal);
}

.perfil2 p{
    font-size: 16px;
    align-self: center;
    font-weight: 550;
    color: black;
}

.imagenperfil2{
    border-radius: 100%;
    display: flex;
    align-self: center;
    justify-self: flex-end;
}

/* Fin CSS Main Quienes Somos */

/* Inicio CSS Main Nuestros servicios */

.titulonuestrosservicios{
    color: map-get($estilos, colorPrincipal);
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 50px;
    h1{
        @include h1;
    }
}

.servicios{
    color: map-get($estilos, colorPrincipal);
    display: flex;
    flex-direction: column;
    margin-left: 7%;
    margin-right: 7%;
}

.servicios ul{
    color: black;
    font-weight: 500;
    margin-top: 20px;
    margin-bottom: 40px;
}

.servicios ul li{
    margin-bottom: 10px;
}

/* Fin CSS Main Nuestros servicios */

/* Inicio CSS Main Nuestros planes */

.titulotuplan{
    color: map-get($estilos, colorPrincipal);
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 50px;
    h1{
        @include h1;
    }
}

.planes{
    color: map-get($estilos, colorPrincipal);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 50px;
}

.numeroplanes{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.numeroplanes div{
    width: 300px;
    height: 500px;
    border: 2px solid black;
    background-color: white;
    text-align: center;
    font-weight: 600;
    font-size: 30px;
}

.armatuplan{
    color: map-get($estilos, colorPrincipal);
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 50px;
    margin-top: 100px;
    font-size: 35px;
}

.checkbox{
    font-size: 30px;
    font-weight: 600;
    color: map-get($estilos, colorPrincipal);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    word-spacing: 50px;
}

.submitplan{
    border: none;
}

.fieldsetplan{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border: none;
    margin: 25px;
    margin-top: 50px;
}

.fieldsetplan input{
    margin-bottom: 20px;
    width: 30%;
    height: 30px;
    border-radius: 10px;
    font-size: 18px;
}

.submitplan textarea{
    font-size: 20px;
    height: 200px;
    width: 1000px;
    border-radius: 10px;
}

.inputsubmitplan{
    margin-top: 25px;
    display: flex;
    flex-direction: row;
    align-self: center;
    justify-content: center;
    background-color: map-get($estilos, colorFondo);
    cursor: pointer;
}

/* Fin CSS Main Nuestros planes */

/* Inicio CSS Main Portfolio */

.mainportfolio{
    height: 1000px;
    font-size: 30px;
    font-weight: 600;
    margin-left: 20px;
}

/* Fin CSS Main Portfolio */

/* Inicio CSS Main Contacto */

.titulocontacto{
    color: map-get($estilos, colorPrincipal);
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 50px;
    h1{
        @include h1;
    }
}

.listacontacto{
    font-size: 25px;
    font-weight: 600;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.listacontacto li{
    list-style: none;
    margin-bottom: 20px;
}

.listacontacto li a{
    transition: all 0.3s ease 0s;
    text-decoration: none;
    color: map-get($estilos, colorPrincipal);
}

.listacontacto li a:hover{
    color: white;
}

.listacontacto img{
    height: 30px;
    width: 30px;
    margin-right: 20px;

}

div iframe{
    border-color: map-get($estilos, colorPrincipal);
    border-radius: 5%;
}


/* Fin CSS Main Contacto */

/* Inicio CSS Footer */

footer {
    background-color: map-get($estilos, colorFondo);
    display: grid;
    grid-template-columns: 10% auto 10%;
    grid-template-rows: 35% 20% 35% 10%;
    grid-template-areas: "logofooter h3footer botonfooter""logofooter navfooter botonfooter""logofooter redesfooter botonfooter""h4footer h4footer botonfooter";
    width:100%;
    border-top: 3px solid;
    border-color: map-get($estilos, colorPrincipal);
    .logofooter{
        grid-area: logofooter;
        display: flex;
        align-items: flex-end;
        .logofooterimg {
            width: 150px;
            height: 150px;
            cursor: pointer;
            display: flex;
            align-items: flex-end;
        }
    }
    h3{
        grid-area: h3footer;
        display: flex;
        justify-content: center;
        align-items: center;
        color: map-get($estilos, colorPrincipal);
        font-size: 30px;
        font-weight: 600;
    }
    .redesfooter{
        grid-area: redesfooter;
        display: flex;
        justify-content: center;
        align-items: center;
        a img{
            display: inline-block;
            width: 40px;
            height: 40px;
            margin: 10px
        }
    }
    .botonirarriba{
        grid-area: botonfooter;
        display: flex;
        justify-content: center;
        align-items: center;
        img{
            width: 40px;
            height: 40px;
            transition: all 0.3s ease 0s;
            &:hover{
                transform: scale(1.1);
            }
        }
    }

    .navfooter{
        grid-area: navfooter;
        display: flex;
        justify-content: center;
        li{
            display: inline-block;
            font-size: 16px;
            font-weight: bold;
            padding: 10px;
            a{
                transition: all 0.3s ease 0s;
                text-decoration: none;
                color: map-get($estilos, colorPrincipal);
                &:hover{
                    color: white;
                }
            }
        }
    }
    h4{
        grid-area: h4footer;
        color: map-get($estilos, colorPrincipal);
        font-size: 20px;
        font-weight: 600;
    }
}

/* Fin CSS Footer */

@import "mediaqueries";